@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,300&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  color: #3d3d3d;
  margin: 0px;
  padding: 0px;
}

#wrapper {
  width: 100%;
  background-color: #f3f3f3;
  padding-top: 30px;
  margin-bottom: 2px;
}
#container {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.section {
  margin: 20px;
  text-align: center;
  width: 140px;
}
.heading {
  font-size: 16px;
  font-weight: 700;
}
.mat {
  font-size: 12px;
  font-weight: 500;
  padding: 10px;
}
.divider {
  margin-top: 10px;
  width: 30px;
  height: 1px;
  border-radius: 5px;
  background-color: #3d3d3d;
}
.news {
  margin: 20px;
  text-align: center;
  width: 220px;
  background-color: white;
  padding: 30px 20px 20px 20px;
}
.enterEmail {
  font-size: 12px;
  width: 200px;
  padding: 15px 5px;
  color: #d8d4d4;
  font-weight: bolder;
  background-color: #f3f3f3;
  border: none;
}
.gender {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding: 10px;
}
.radio {
  margin: 10px;
  padding: 0%;
  color: black;
}
.gen {
  font-size: 12px;
  font-weight: 600;
}
.consentDiv {
  display: flex;
}
.consent {
  font-family: "Source Sans Pro", sans-serif;
  text-align: left;
  font-size: 14px;
  margin-bottom: 25px;
}
.check {
  margin-top: 20px;
  height: 20px;
  width: 20px;
  margin-right: 10px;
  border: 3px solid black;
}
.mail {
  height: 18.95px;
  width: 17.99px;
}
.underline {
  text-decoration: underline;
}
.signup {
  width: 100%;
  height: 45px;
  background-color: #3d3d3d;
  color: white;
  border: none;
}
.connect {
  width: 100%;
  height: 50px;
  background-color: #f3f3f3;
  padding-top: 15px;
}
.betconnect {
  width: 70%;
  margin: auto;
  display: flex;
  padding-bottom: 5px;
  justify-content: space-between;
  /* border: 1px solid black; */
}
.leftC > img {
  height: 26px;
  width: 26px;
  padding: 5px 15px;
}
.firsticon {
  margin-left: 110px;
}
.Cwithus {
  margin-top: 10px;
  position: absolute;
  font-size: 11px;
  font-weight: 600;
}
.rightC {
  margin-right: 250px;
}
.rightC > img {
  padding-top: 0px;
  height: 35px;
  width: 35px;
  padding-right: 10px;
}
.bottom {
  width: 100%;
  height: 139px;
  background-color: #3d3d3d;
}
.bottom > p {
  font-size: 11px;
  font-weight: 500;
  text-align: center;
  color: white;
  padding-top: 50px;
}
.second {
  font-size: 11px;
  font-weight: 500;
  text-align: center;
  margin-top: 10px;
}
.light {
  color: #757575;
}
.slash {
  color: white;
  padding: 5px;
}