*{
    /* background-color:  #f3f3f3; */
    font-family: Playfair Display,sans-serif;
}
#container{
    width: 67%;
    height: 750px;
    margin-left: 95px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap: -5px;
    scroll-behavior:auto;
    overflow: scroll;
    /* overflow-y:visible;
    overflow-x: hidden; */
}
.box{
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
    text-align: center;
    background-color: white;
    width: 245px;
    height: 435px;
    margin-top: 20px;
 }
 .div{
     display: flex;
     gap: 17px;
     text-align: center;
     justify-content: center;
     background-color: white;
     margin-top: 20px;
 }
 .back{
    background-color: white;
 }
 .line{
     text-decoration: line-through;
     color: #b6afc3;
     background-color: white;
 }
 .price{
     font-weight: bolder;
     background-color: white;
 }
 .img{
     width: 85%;
     height: 45%;


 }
 #smallbar{
     background-color: black;
     width: 100%;
     height: 30px;
     color: white;
     display: flex;
     gap: 20px;
     text-align: center;
     justify-content: center;
     padding: 5px;
 }
 #smallbar>div{
     margin-top: 7px;
     font-size: 14px;
 }
 #categories{
     width: 250px;
     height: 700px;
     /* background-color: #f5f5f5; */
     
     /* border: 1px solid; */
 }
 #categories>div{
    /* border: 1px solid; */
display: flex;
justify-content: space-between;
margin: 15px 15px -5px 15px;
padding: 10px;
font-size: 14px;
/* margin-top: 35px;
margin-bottom: 35px; */

/* gap: 35px; */

background-color: #f5f5f5;
 }
 #categories>div>div{
     font-weight: 500;
     /* gap: 35px; */
     color: black;
     background-color: #f5f5f5;

 }
 @import url("https://fonts.googleapis.com/css2?family=Corinthia&family=Montserrat:wght@500;700&family=Poppins&display=swap");

 * {
     margin: 0px;
     padding: 0px;
     font-family: "Montserrat", sans-serif;
     color: #333333;
 }

 #header {
     width: 100vw;
     height: 38px;
     background-color: #333333;
     margin-top: 91px;
 }

 #strip {
     width: 57%;
     height: 100%;
     background-color: #333333;
     display: flex;
     justify-content: space-between;
     margin: auto;
 }

 .options {
     color: white;
     background-color: #333333;
     font-family: "Montserrat", sans-serif;
     font-size: 11px;
     margin: auto;
 }

 .NewArrivals {
     width: 100%;
     background-color: white;
 }

 .dropdown {
     display: flex;
     width: 68%;
     /* border: 1px solid black; */
     margin: auto;
     height: auto;
     box-sizing: border-box;
 }

 .dropleft {
     /* border: 1px solid black; */
     padding-left: 23px;
     padding-right: 25px;
     padding-top: 15px;
     background-color: #f3f3f3;
     height: auto;
 }

 .loption {
     font-size: 11px;
     margin: 10px;
     margin-left: 0px;
     margin-top: 14px;
     width: 135px;
     margin-bottom: 0px;
     color: #333333;
 }

 .dark {
     font-size: 11px;
     font-weight: 900;
     border-bottom: 1px solid #d2d0d0;
     padding-bottom: 20px;
 }

 .dropright {
     display: flex;
     /* border: 1px solid black; */
     margin-left: 27px;
     margin-top: 25px;
 }

 /* .imgbox {
border: 1px solid black;
}  */
 .imgbox>img {
     width: 183.5px;
     height: 233.3px;
     margin-bottom: 5px;
 }

 .name,
 .price {
     font-size: 11px;
     font-weight: 900;
     padding-bottom: 10px;
     text-align: center;
     margin: 0%;
     padding: 0%;
 }

 .sd {
     display: flex;
     margin: auto;
     justify-content: space-around;
     width: 70%;
     /* margin-left: 20px; */
     /* border: 1px solid rgb(179, 176, 176); */
 }

 .brand,
 .discount,
 .size {
     font-size: 11px;
     text-align: center;
 }

 .strikedoff {
     text-decoration-line: line-through;
     font-size: 11px;
     color: #a09c9c;
     text-align: center;
 }

 /* Design */
 .cat {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
 }

 .designfooter {
     border-top: 1px solid #d2d0d0;
     margin-top: 20px;
     padding-top: 20px;
     padding-bottom: 60px;
     font-size: 11px;
     font-weight: 900;
 }

 .Designdropleft {
     /* border: 1px solid black; */
     width: 35%;
     padding-left: 23px;
     padding-right: 25px;
     padding-top: 15px;
     background-color: #f3f3f3;
     height: auto;
 }

 .headDesigners {
     padding-top: 20px;
     font-size: 14px;
     font-weight: 900;
 }

 .ring {
     margin-left: 25px;
     width: 169px;
 }

 /* -------------------------------clothing------------------------- */
 .bold {
     font-weight: 900;
 }

 .dropmiddle {
     padding-left: 23px;
     padding-right: 25px;
     padding-top: 15px;
     height: auto;
 }

 .clothingimg {
     width: 100%;
     height: auto;
 }

 .pad {
     padding-bottom: 50px;
 }

 .padleft {
     padding-left: 20px;
 }

 .padbottom {
     padding-bottom: 250px;
 }

 .padmed {
     padding-bottom: 120px;
 }

 .padbot {
     padding-bottom: 200px;
 }

 .rbottom {
     padding-top: 10px;
 }

 .ring1 {
     margin-left: 25px;
     width: 320px;
 }

 .hide {
     display: none;
 }

 .show {
     display: block;
 }

 #dropArrivals {
     z-index: 1;
 }
 body{
    width: 80%;
    margin: auto;
}
#headone{
    display: flex;
    justify-content: space-between;
}
#left, #right{
    display: flex;
    margin-right: 10%;
}
.imga{
    /* margin-left: 35%; */
    height: 180px;
    width: 250px;
    margin-right: 35px;
    margin-top: 25px;
  
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    }
    
    #Box {
    display: flex;
    margin-left: 8%;
    
    }
    .topmost {
        height: 35px;
        width: 100%;
        border-bottom: 1px solid rgb(208, 207, 207);
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        height: 36px;
        background: #fff;
        top: 0;
        z-index: 99999;
        padding-left: 100px;
        padding-right: 100px;
    }
    
    .topmost2 {
        height: 55px;
        width: 100%;
        margin-top:36px;
        margin-bottom: 5px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        background: #fff;
        top: 0;
        z-index: 99999;
        padding-left: 100px;
        padding-right: 100px;
    }
    * {
        box-sizing: border-box;
        font-size: 11PX;
        font-weight: 600;
        margin: 0;
        padding: 0;
        line-height: 36px;
        color: #323232;
        font-family: 'Lato',sans-serif;
        background-color: white;
    }
    
    .exleft {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        cursor:pointer;
        background-color: white;
        /* margin-left: 20px; */
        /* padding: 0px 30px 0px 30px; */
    }
    
    
    .exleft2 {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        cursor: pointer;
        background-color: white;
         /* margin-left: 20px; 
         padding: 0px 30px 0px 30px;  */
    }
    
    
    
    
    .exright {
        margin-right: 20px;
        cursor:pointer;
        background-color: white;
    }
    
    /* .exright2 {
        margin-right: 20px;
    } */
    
    .inside {
        height: 30px;
        width: 300px;
        display: block;
        background-color: white;
        margin-bottom:5px ;
        cursor:pointer;
        /* align-items: center; */
        /* justify-content: space-around; */
        /* border-right: 1px solid rgb(41, 38, 38); */
    
    }
    
    .inside2 {
        height: 10px;
        width: 300px;
        display: block;
        align-items: center; 
        margin-bottom: 15px;
        margin-top: -12px;
        cursor:pointer;
        background-color: white;
         
    }
    
    .inside2 img {
        height: 35px;
        width: 100%;
        background-color: white;
    
    }
    
    .rightside {
        text-align: center;
        justify-content: space-around; 
        display: flex;
        width: 150px;
        height: 30px;
        margin-bottom: 20px;
        cursor:pointer;
        background-color: white;
    }
    
    .rightside2 {
        text-align: center;
        justify-content: space-around; 
        display: flex;
        width: 150px;
        height: 30px;
        cursor:pointer;
        background-color: white;
     } 
     .box{
         /* border: 1px solid; */
         /* margin-top: 105px; */
         margin-left: 35px;
     }
     #containeer{
        width: 70%;
        margin: auto;
        display: flex;
        justify-content: space-between;
     }
     /* ------------------------------------------------------------------- */
     @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
     @import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,300&display=swap");
     * {
       font-family: "Montserrat", sans-serif;
       color: #3d3d3d;
       margin: 0px;
       padding: 0px;
     }
     
     #wrapper {
       width: 100%;
       background-color: #f3f3f3;
       padding-top: 30px;
       margin-bottom: 2px;
     }
     #containeer {
       width: 70%;
       margin: auto;
       display: flex;
       justify-content: space-between;
     }
     .section {
       margin: 20px;
       text-align: center;
       width: 140px;
     }
     .heading {
       font-size: 16px;
       font-weight: 700;
     }
     .mat {
       font-size: 12px;
       font-weight: 500;
       padding: 10px;
       background-color: #f3f3f3;
     }
     .divider {
       margin-top: 10px;
       width: 30px;
       height: 1px;
       border-radius: 5px;
       /* style="background-color: #f3f3f3;" */
       background-color: #3d3d3d;
     }
     .news {
       margin: 20px;
       text-align: center;
       width: 220px;
       background-color: white;
       padding: 30px 20px 20px 20px;
     }
     .enterEmail {
       font-size: 12px;
       width: 200px;
       padding: 15px 5px;
       color: #d8d4d4;
       font-weight: bolder;
       background-color: #f3f3f3;
       border: none;
     }
     .gender {
       display: flex;
       justify-content: space-between;
       width: 80%;
       margin: auto;
       padding: 10px;
     }
     .radio {
       margin: 10px;
       padding: 0%;
       color: black;
     }
     .gen {
       font-size: 12px;
       font-weight: 600;
     }
     .consentDiv {
       display: flex;
     }
     .consent {
       font-family: "Source Sans Pro", sans-serif;
       text-align: left;
       font-size: 14px;
       margin-bottom: 25px;
     }
     .check {
       margin-top: 20px;
       height: 20px;
       width: 20px;
       margin-right: 10px;
       border: 3px solid black;
     }
     .mail {
       height: 18.95px;
       width: 17.99px;
     }
     .underline {
       text-decoration: underline;
     }
     .signup {
       width: 100%;
       height: 45px;
       background-color: #3d3d3d;
       color: white;
       border: none;
     }
     .connect {
       width: 100%;
       height: 50px;
       background-color: #f3f3f3;
       padding-top: 15px;
     }
     .betconnect {
       width: 70%;
       margin: auto;
       display: flex;
       padding-bottom: 5px;
       justify-content: space-between;
       /* border: 1px solid black; */
     }
     .leftC > img {
       height: 26px;
       width: 26px;
       padding: 5px 15px;
     }
     .firsticon {
       margin-left: 110px;
     }
     .Cwithus {
       margin-top: 10px;
       position: absolute;
       font-size: 11px;
       font-weight: 600;
     }
     .rightC {
       margin-right: 250px;
     }
     .rightC > img {
       padding-top: 0px;
       height: 35px;
       width: 35px;
       padding-right: 10px;
     }
     .bottom {
       width: 100%;
       height: 139px;
       background-color: #3d3d3d;
     }
     .bottom > p {
      background-color: #3d3d3d;
       font-size: 11px;
       font-weight: 500;
       text-align: center;
       color: white;
       padding-top: 50px;
     }
     .second {
       font-size: 11px;
       background-color: #3d3d3d;
       font-weight: 500;
       text-align: center;
       margin-top: 10px;
     }
     .light {
      background-color: #3d3d3d;
      color: #757575;
     }
     .slash {
       color: white;
       background-color: #3d3d3d;
       padding: 5px;
     }
     /* *{
       background-color: #f3f3f3;
     } */
     