@import url("https://fonts.googleapis.com/css2?family=Corinthia&family=Montserrat:wght@500;700&family=Poppins&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
  color: #333333;
}
#header {
  width: 100vw;
  height: 38px;
  background-color: #333333;
  margin-top: -15px;
}
#strip {
  width: 57%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.options {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  margin: auto;
  height: 100%;
  align-items: center;
  padding: 7.5px;
  padding-top: 12px;
  cursor: pointer;
}
.NewArrivals {
  width: 100%;
  background-color: white;
}
.dropdown {
  display: flex;
  width: 68%;
  /* border: 1px solid black; */
  margin: auto;
  height: auto;
  box-sizing: border-box;
}
.dropleft {
  /* border: 1px solid black; */
  padding-left: 23px;
  padding-right: 25px;
  padding-top: 15px;
  background-color: #f3f3f3;
  height: auto;
}
.loption {
  font-size: 11px;
  margin: 10px;
  margin-left: 0px;
  margin-top: 14px;
  width: 135px;
  margin-bottom: 0px;
  color: #333333;
  cursor: pointer;
}
.dark {
  font-size: 11px;
  font-weight: 900;
  border-bottom: 1px solid #d2d0d0;
  padding-bottom: 20px;
}
.dropright {
  display: flex;
  /* border: 1px solid black; */
  margin-left: 27px;
  margin-top: 25px;
}
/* .imgbox {
  border: 1px solid black;
}  */
.imgbox > img {
  width: 183.5px;
  height: 233.3px;
  margin-bottom: 5px;
  cursor: pointer;
}
.imgbox > div {
  cursor: pointer;
}
.name,
.price {
  font-size: 11px;
  font-weight: 900;
  padding-bottom: 10px;
  text-align: center;
  margin: 0%;
  padding: 0%;
  cursor: pointer;
}
.sd {
  display: flex;
  margin: auto;
  justify-content: space-around;
  width: 70%;
  /* margin-left: 20px; */
  /* border: 1px solid rgb(179, 176, 176); */
}
.brand,
.discount,
.size {
  font-size: 11px;
  text-align: center;
  cursor: pointer;
}
.strikedoff {
  text-decoration-line: line-through;
  font-size: 11px;
  color: #a09c9c;
  text-align: center;
}
/* Design */
.cat {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.designfooter {
  border-top: 1px solid #d2d0d0;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 60px;
  font-size: 11px;
  font-weight: 900;
  cursor: pointer;
}
.Designdropleft {
  /* border: 1px solid black; */
  width: 35%;
  padding-left: 23px;
  padding-right: 25px;
  padding-top: 15px;
  background-color: #f3f3f3;
  height: auto;
}
.headDesigners {
  padding-top: 20px;
  font-size: 14px;
  font-weight: 900;
  cursor: pointer;
}
.ring {
  margin-left: 25px;
  width: 169px;
}
/* -------------------------------clothing------------------------- */
.bold {
  font-weight: 900;
}
.dropmiddle {
  padding-left: 23px;
  padding-right: 25px;
  padding-top: 15px;
  height: auto;
}
.clothingimg {
  width: 100%;
  height: auto;
}
.pad {
  padding-bottom: 50px;
}
.padleft {
  padding-left: 20px;
}
.padbottom {
  padding-bottom: 250px;
}
.padmed {
  padding-bottom: 120px;
}
.padbot {
  padding-bottom: 200px;
}
.rbottom {
  padding-top: 10px;
}
.ring1 {
  margin-left: 25px;
  width: 320px;
}
.hide {
  display: none;
}
.show {
  display: block;
}
#dropArrivals {
  z-index: 1;
}
.options:hover {
  color: rgb(175, 174, 174);
}
.white {
  background-color: white;
  color: #333333;
}
.ling > div,
img {
  cursor: pointer;
}
.ring > div {
  cursor: pointer;
}
.topStrip {
  display: flex;
  width: 67.2%;
  justify-content: space-between;
  margin: auto;
  height: 31px;
  /* border: 1px solid black; */
}
.topLeft,
.topRight {
  display: flex;
  font-size: 10px;
  font-weight: 700;
  text-decoration: underline;
  /* border: 1px solid black; */
}
.topLeft {
  padding-top: 10px;
}
.sortDown {
  height: 8px;
  width: 8px;
  padding-left: 2px;
  padding-right: 14px;
}
.lock {
  height: 15px;
  width: 15px;
  padding: 10px;
  position: relative;
}
.topheadR {
  position: relative;
  top: -15px;
}
.yooxlogo {
  width: 77px;
  height: 35px;
  display: flex;
  margin: auto;
}
.secondStrip {
  display: flex;
  justify-content: space-between;
  width: 69%;
  margin: auto;
}
.secBox {
  border-top: 1px solid rgb(235, 230, 230);
  padding-top: 8px;
}
.secL,
.secM,
.secR {
  width: 33%;
  /* border: 1px solid black; */
}
.secL {
  padding-top: 10px;
}
.seclink {
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  margin: 10px;
}
.secslash {
  color: rgb(131, 127, 127);
}
.focusW {
  background-image: linear-gradient(white, rgb(240, 240, 162));
}
.secR {
  display: flex;
  justify-content: flex-end;
  padding-top: 0px;
  margin-top: -15px;
}
.secR > img {
  padding: 25px;
}
.imgS {
  height: 26.67px;
  width: 26.67px;
}
.imgh {
  width: 26.91px;
  height: 24.66px;
}
.imgg {
  width: 23.19px;
  height: 27.81px;
}
