/* Top header styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 11PX;
    font-weight: 600;
    padding: 0;
    line-height: 36px;
    color: #323232;
    font-family: Montserrat;
}

.topmost {
    height: 35px;
    width: 100%;
    border-bottom: 1px solid rgb(208, 207, 207);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    height: 36px;
    background: #fff;
    top: 0;
    z-index: 99999;
    padding-left: 100px;
    padding-right: 100px;
}

.topmost2 {
    height: 55px;
    width: 100%;
    margin-top: 36px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background: #fff;
    top: 0;
    z-index: 99999;
    padding-left: 100px;
    padding-right: 100px;
}

.exleft {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    cursor: pointer;
    /* margin-left: 20px; */
    /* padding: 0px 30px 0px 30px; */
}


.exleft2 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    cursor: pointer;
    /* margin-left: 20px; 
         padding: 0px 30px 0px 30px;  */
}

.exleft2 div {
    font-weight: bold;
}

.exleft2 a {
    text-decoration: none;
}

.exright {
    margin-right: 20px;
    cursor: pointer;
}

.inside {
    height: 30px;
    width: 300px;
    display: block;
    margin-bottom: 5px;
    cursor: pointer;
    /* align-items: center; */
    /* justify-content: space-around; */
    /* border-right: 1px solid rgb(41, 38, 38); */

}

.inside2 {
    height: 10px;
    width: 300px;
    display: block;
    align-items: center;
    margin-bottom: 15px;
    margin-top: -12px;
    cursor: pointer;

}

.inside2 img {
    height: 35px;
    width: 100%;

}

.rightside {
    text-align: center;
    justify-content: space-around;
    display: flex;
    width: 150px;
    height: 30px;
    margin-bottom: 20px;
    cursor: pointer;
}

.rightside2 {
    text-align: center;
    justify-content: space-around;
    display: flex;
    width: 150px;
    height: 30px;
    cursor: pointer;
}

.rightside div {

    height: 16px;
    padding-right: 5px;
    text-align: center;
    margin: auto;
    word-spacing: 10px;
}

.rightside div a {
    text-decoration: none;
    color: black;
    display: block;

    word-spacing: 10px;
}

.rightside div:last-child {
    border: none;
    /* word-spacing: 10px; */
}


/* -------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------- */

/* Black Strip menu styles */
#header {
    width: 100vw;
    height: 38px;
    background-color: #333333;
    margin-top: 91px;
    /* z-index: 3;
    position: fixed; */
    justify-content: space-between;
}

#header :hover{
    cursor: pointer;
    color: rgb(156, 146, 146);;
}

#strip {
    width: 57%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.options {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 11px;
    margin: auto;
}

.NewArrivals {
    width: 100%;
    background-color: white;
}

.dropdown {
    display: flex;
    width: 68%;
    /* border: 1px solid black; */
    margin: auto;
    height: auto;
    box-sizing: border-box;
}

.dropleft {
    /* border: 1px solid black; */
    padding-left: 23px;
    padding-right: 25px;
    padding-top: 15px;
    background-color: #f3f3f3;
    height: auto;
    margin-top: 11%;
}

.loption {
    font-size: 11px;
    margin: 10px;
    margin-left: 0px;
    margin-top: 14px;
    width: 135px;
    margin-bottom: 0px;
    color: #333333;
}

.dark {
    font-size: 11px;
    font-weight: 900;
    border-bottom: 1px solid #d2d0d0;
    padding-bottom: 20px;
}

.dropright {
    display: flex;
    /* border: 1px solid black; */
    margin-left: 27px;
    margin-top: 25px;
    margin-top: 11%;
}

/* .imgbox {
    border: 1px solid black;
    }  */
.imgbox>img {
    width: 183.5px;
    height: 233.3px;
    margin-bottom: 5px;
}

.name,
.price {
    font-size: 11px;
    font-weight: 900;
    padding-bottom: 10px;
    text-align: center;
    margin: 0%;
    padding: 0%;
}

.sd {
    display: flex;
    margin: auto;
    justify-content: space-around;
    width: 70%;
    /* margin-left: 20px; */
    /* border: 1px solid rgb(179, 176, 176); */
}

.brand,
.discount,
.size {
    font-size: 11px;
    text-align: center;
}

.strikedoff {
    text-decoration-line: line-through;
    font-size: 11px;
    color: #a09c9c;
    text-align: center;
}

/* Design */
.cat {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.designfooter {
    border-top: 1px solid #d2d0d0;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 60px;
    font-size: 11px;
    font-weight: 900;
}

.Designdropleft {
    /* border: 1px solid black; */
    margin-top: 11%;
    width: 35%;
    padding-left: 23px;
    padding-right: 25px;
    padding-top: 15px;
    background-color: #f3f3f3;
    height: auto;
}

.headDesigners {
    padding-top: 20px;
    font-size: 14px;
    font-weight: 900;
}

.ring {
    margin-left: 25px;
    width: 169px;
}

/* -------------------------------clothing------------------------- */
.bold {
    font-weight: 900;
}

.dropmiddle {
    padding-left: 23px;
    padding-right: 25px;
    padding-top: 15px;
    height: auto;
    margin-top: 11%;
}

.clothingimg {
    width: 100%;
    height: auto;
}

.pad {
    padding-bottom: 50px;
}

.padleft {
    padding-left: 20px;
}

.padbottom {
    padding-bottom: 250px;
}

.padmed {
    padding-bottom: 120px;
}

.padbot {
    padding-bottom: 200px;
}

.rbottom {
    padding-top: 10px;
}

.ring1 {
    margin-left: 25px;
    width: 320px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

#dropArrivals {
    z-index: 1;
}

/* -------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------- */



/* -------------Styles of Acual Page Content----------------- */

#content{
    margin: auto;
    margin-top: 6%;
    /* border: 1px solid red; */
    width: 70%;
    height: auto;
}
#first{
    display: flex;
    height: 480px;
}
#firstrowleft{
    /* border: 2px solid red; */
    width: 65%;
}
#fimg{
    /* border: 2px solid black; */
    width: 100%;
    height: 400px;
    margin-bottom: 5%;
}
#cardcontent{
    background-color: white;
    color: #333;
    text-align: left;
    width: 24%;
    height: auto;
    padding: 2%;
    margin-top: -12%;
    margin-left: 1%;
    /* border: 1px solid orangered; */
    position: absolute;
    z-index: 5;
}
#cardcontent p{
    text-align: left;
}

#unique{
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: 700;
    margin-top: 1%;
}
#uniquesub{
    margin-top: 20px;
    font-size: 14px;
    font-weight: 300;
    font-family: Montserrat;
}

#firstrowright{
    /* border: 2px solid green; */
    width: 35%;
}
#simg{
    /* border: 2px solid blueviolet; */
    width: 90%;
    height: 300px;
    margin-left: 9%;
}
p{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 45px;
    color: #333;
    font-weight: bolder;
    line-height: 10px;
}

span{
    color: #cbbb97;
    font-family: Arial;
    font-size: 45px;
}


hr{
    margin-top: 5%;
    background-color: #cbbb97;
    width: 50px;
    height: 2px;
    border: navajowhite;
    margin-left: 48%;
}
h3{
    color: #cbbb97;
    text-align: center;
    font-family: Montserrat;
}

#second{
    margin-top: 25px;
    margin-left: 18%;
    height: 450px;
    width: 600px;
}

#third{
    display: flex;
    width: 100%;
    margin-top: 8%;
    margin-bottom: 5%;
}
#third div{
    width: 45%;
    /* border: 1px solid blue; */
    height: auto;
}
#leftone{
    width: 100%;
    height: 400px;
}
#lefttwo{
    width: 90%;
    height: 300px;
    margin-top: 10%;
}
#rightcards{
    margin-left: 10%;
    margin-top: 10%;
}
#rightone{
    width: 100%;
    height: 500px;
}

#toppicks{
    margin-top: 4%;
    height: 180px;
    display: flex;
    position: relative;
    width: 100%;
}
/* #toppicks div{
    display: flex;
    align-items: center;
} */

#topPicks{
    font-family: Montserrat;
    text-align: center;
    font-size: 16px;
}

#front{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 10px;
}
#front img{
    width: 80%;
    height: 100%;
}
/* #scrolled{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 10px;
}
#scrolled img{
    width: 80%;
    height: 100%;
} */
#seeall{
    width: 100%;
    height: 75%;
    margin-top: 8%;
}

#insidecontent{
    /* border: 2px solid teal; */
    text-align: center;
    background-color: none;
    position: absolute;
    z-index: 2;
    margin-top: -14%;
    margin-left: 20%;
}
#designallseeall{
    font-size: 28px;
    font-weight: bold;
    color: white;
    font-family: Montserrat;
    letter-spacing: 2px;
}
#suball{
    font-size: 14px;
    font-weight: lighter;
    margin-top: 10%;
    color: white;
    font-family: Montserrat;
    word-spacing: 5px;
}
#linktoseeall{
    font-size: 16px;
    color: white;
    font-family: Montserrat;
    text-decoration: underline;
    margin-top: 10%;
    font-weight: bold;
}
a{
    text-decoration: none;
}
