/* Top header styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 11PX;
    font-weight: 600;
    padding: 0;
    line-height: 36px;
    color: #323232;
    font-family: Montserrat;
}

.topmost {
    height: 35px;
    width: 100%;
    border-bottom: 1px solid rgb(208, 207, 207);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    height: 36px;
    background: #fff;
    top: 0;
    z-index: 99999;
    padding-left: 100px;
    padding-right: 100px;
}

.topmost2 {
    height: 55px;
    width: 100%;
    margin-top: 36px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background: #fff;
    top: 0;
    z-index: 99999;
    padding-left: 100px;
    padding-right: 100px;
}

.exleft {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    cursor: pointer;
    /* margin-left: 20px; */
    /* padding: 0px 30px 0px 30px; */
}


.exleft2 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    cursor: pointer;
    /* margin-left: 20px; 
         padding: 0px 30px 0px 30px;  */
}

.exleft2 div {
    font-weight: bold;
}

.exleft2 a {
    text-decoration: none;
}

.exright {
    margin-right: 20px;
    cursor: pointer;
}

.inside {
    height: 30px;
    width: 300px;
    display: block;
    margin-bottom: 5px;
    cursor: pointer;
    /* align-items: center; */
    /* justify-content: space-around; */
    /* border-right: 1px solid rgb(41, 38, 38); */

}

.inside2 {
    height: 10px;
    width: 300px;
    display: block;
    align-items: center;
    margin-bottom: 15px;
    margin-top: -12px;
    cursor: pointer;

}

.inside2 img {
    height: 35px;
    width: 100%;

}

.rightside {
    text-align: center;
    justify-content: space-around;
    display: flex;
    width: 150px;
    height: 30px;
    margin-bottom: 20px;
    cursor: pointer;
}

.rightside2 {
    text-align: center;
    justify-content: space-around;
    display: flex;
    width: 150px;
    height: 30px;
    cursor: pointer;
}

.rightside div {

    height: 16px;
    padding-right: 5px;
    text-align: center;
    margin: auto;
    word-spacing: 10px;
}

.rightside div a {
    text-decoration: none;
    color: black;
    display: block;

    word-spacing: 10px;
}

.rightside div:last-child {
    border: none;
    /* word-spacing: 10px; */
}


/* -------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------- */

/* Black Strip menu styles */
#header {
    width: 100vw;
    height: 38px;
    background-color: #333333;
    margin-top: 91px;
    /* z-index: 3; */
    /* position: fixed; */
}

#header :hover{
    cursor: pointer;
    color: rgb(156, 146, 146);;
}

#strip {
    width: 57%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.options {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 11px;
    margin: auto;
}

.NewArrivals {
    width: 100%;
    background-color: white;
}

.dropdown {
    display: flex;
    width: 68%;
    /* border: 1px solid black; */
    margin: auto;
    height: auto;
    box-sizing: border-box;
}

.dropleft {
    /* border: 1px solid black; */
    padding-left: 23px;
    padding-right: 25px;
    padding-top: 15px;
    background-color: #f3f3f3;
    height: auto;
    margin-top: 11%;
}

.loption {
    font-size: 11px;
    margin: 10px;
    margin-left: 0px;
    margin-top: 14px;
    width: 135px;
    margin-bottom: 0px;
    color: #333333;
}

.dark {
    font-size: 11px;
    font-weight: 900;
    border-bottom: 1px solid #d2d0d0;
    padding-bottom: 20px;
}

.dropright {
    display: flex;
    /* border: 1px solid black; */
    margin-left: 27px;
    margin-top: 25px;
    margin-top: 11%;
}

/* .imgbox {
    border: 1px solid black;
    }  */
.imgbox>img {
    width: 183.5px;
    height: 233.3px;
    margin-bottom: 5px;
}

.name,
.price {
    font-size: 11px;
    font-weight: 900;
    padding-bottom: 10px;
    text-align: center;
    margin: 0%;
    padding: 0%;
}

.sd {
    display: flex;
    margin: auto;
    justify-content: space-around;
    width: 70%;
    /* margin-left: 20px; */
    /* border: 1px solid rgb(179, 176, 176); */
}

.brand,
.discount,
.size {
    font-size: 11px;
    text-align: center;
}

.strikedoff {
    text-decoration-line: line-through;
    font-size: 11px;
    color: #a09c9c;
    text-align: center;
}

/* Design */
.cat {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.designfooter {
    border-top: 1px solid #d2d0d0;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 60px;
    font-size: 11px;
    font-weight: 900;
}

.Designdropleft {
    /* border: 1px solid black; */
    margin-top: 11%;
    width: 35%;
    padding-left: 23px;
    padding-right: 25px;
    padding-top: 15px;
    background-color: #f3f3f3;
    height: auto;
}

.headDesigners {
    padding-top: 20px;
    font-size: 14px;
    font-weight: 900;
}

.ring {
    margin-left: 25px;
    width: 169px;
}

/* -------------------------------clothing------------------------- */
.bold {
    font-weight: 900;
}

.dropmiddle {
    padding-left: 23px;
    padding-right: 25px;
    padding-top: 15px;
    height: auto;
    margin-top: 11%;
}

.clothingimg {
    width: 100%;
    height: auto;
}

.pad {
    padding-bottom: 50px;
}

.padleft {
    padding-left: 20px;
}

.padbottom {
    padding-bottom: 250px;
}

.padmed {
    padding-bottom: 120px;
}

.padbot {
    padding-bottom: 200px;
}

.rbottom {
    padding-top: 10px;
}

.ring1 {
    margin-left: 25px;
    width: 320px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

#dropArrivals {
    z-index: 1;
}

/* -------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------- */
