/* Top header styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 11PX;
    font-weight: 600;
    padding: 0;
    line-height: 36px;
    color: #323232;
    font-family: Montserrat;
}

.topmost {
    height: 35px;
    width: 100%;
    border-bottom: 1px solid rgb(208, 207, 207);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    height: 36px;
    background: #fff;
    top: 0;
    z-index: 99999;
    padding-left: 100px;
    padding-right: 100px;
}

.topmost2 {
    height: 55px;
    width: 100%;
    margin-top: 36px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background: #fff;
    top: 0;
    z-index: 99999;
    padding-left: 100px;
    padding-right: 100px;
}

.exleft {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    cursor: pointer;
    /* margin-left: 20px; */
    /* padding: 0px 30px 0px 30px; */
}


.exleft2 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    cursor: pointer;
    /* margin-left: 20px; 
         padding: 0px 30px 0px 30px;  */
}

.exleft2 div {
    font-weight: bold;
}

.exleft2 a {
    text-decoration: none;
}

.exright {
    margin-right: 20px;
    cursor: pointer;
}

.inside {
    height: 30px;
    width: 300px;
    display: block;
    margin-bottom: 5px;
    cursor: pointer;
    /* align-items: center; */
    /* justify-content: space-around; */
    /* border-right: 1px solid rgb(41, 38, 38); */

}

.inside2 {
    height: 10px;
    width: 300px;
    display: block;
    align-items: center;
    margin-bottom: 15px;
    margin-top: -12px;
    cursor: pointer;

}

.inside2 img {
    height: 35px;
    width: 100%;

}

.rightside {
    text-align: center;
    justify-content: space-around;
    display: flex;
    width: 150px;
    height: 30px;
    margin-bottom: 20px;
    cursor: pointer;
}

.rightside2 {
    text-align: center;
    justify-content: space-around;
    display: flex;
    width: 150px;
    height: 30px;
    cursor: pointer;
}

.rightside div {

    height: 16px;
    padding-right: 5px;
    text-align: center;
    margin: auto;
    word-spacing: 10px;
}

.rightside div a {
    text-decoration: none;
    color: black;
    display: block;

    word-spacing: 10px;
}

.rightside div:last-child {
    border: none;
    /* word-spacing: 10px; */
}


/* -------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------- */

/* Black Strip menu styles */
#header {
    width: 100vw;
    height: 38px;
    background-color: #333333;
    margin-top: 91px;
    /* z-index: 3; */
    /* position: fixed; */
}

#header :hover{
    cursor: pointer;
    color: rgb(156, 146, 146);;
}

#strip {
    width: 57%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.options {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 11px;
    margin: auto;
}

.NewArrivals {
    width: 100%;
    background-color: white;
}

.dropdown {
    display: flex;
    width: 68%;
    /* border: 1px solid black; */
    margin: auto;
    height: auto;
    box-sizing: border-box;
}

.dropleft {
    /* border: 1px solid black; */
    padding-left: 23px;
    padding-right: 25px;
    padding-top: 15px;
    background-color: #f3f3f3;
    height: auto;
    margin-top: 11%;
}

.loption {
    font-size: 11px;
    margin: 10px;
    margin-left: 0px;
    margin-top: 14px;
    width: 135px;
    margin-bottom: 0px;
    color: #333333;
}

.dark {
    font-size: 11px;
    font-weight: 900;
    border-bottom: 1px solid #d2d0d0;
    padding-bottom: 20px;
}

.dropright {
    display: flex;
    /* border: 1px solid black; */
    margin-left: 27px;
    margin-top: 25px;
    margin-top: 11%;
}

/* .imgbox {
    border: 1px solid black;
    }  */
.imgbox>img {
    width: 183.5px;
    height: 233.3px;
    margin-bottom: 5px;
}

.name,
.price {
    font-size: 11px;
    font-weight: 900;
    padding-bottom: 10px;
    text-align: center;
    margin: 0%;
    padding: 0%;
}

.sd {
    display: flex;
    margin: auto;
    justify-content: space-around;
    width: 70%;
    /* margin-left: 20px; */
    /* border: 1px solid rgb(179, 176, 176); */
}

.brand,
.discount,
.size {
    font-size: 11px;
    text-align: center;
}

.strikedoff {
    text-decoration-line: line-through;
    font-size: 11px;
    color: #a09c9c;
    text-align: center;
}

/* Design */
.cat {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.designfooter {
    border-top: 1px solid #d2d0d0;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 60px;
    font-size: 11px;
    font-weight: 900;
}

.Designdropleft {
    /* border: 1px solid black; */
    margin-top: 11%;
    width: 35%;
    padding-left: 23px;
    padding-right: 25px;
    padding-top: 15px;
    background-color: #f3f3f3;
    height: auto;
}

.headDesigners {
    padding-top: 20px;
    font-size: 14px;
    font-weight: 900;
}

.ring {
    margin-left: 25px;
    width: 169px;
}

/* -------------------------------clothing------------------------- */
.bold {
    font-weight: 900;
}

.dropmiddle {
    padding-left: 23px;
    padding-right: 25px;
    padding-top: 15px;
    height: auto;
    margin-top: 11%;
}

.clothingimg {
    width: 100%;
    height: auto;
}

.pad {
    padding-bottom: 50px;
}

.padleft {
    padding-left: 20px;
}

.padbottom {
    padding-bottom: 250px;
}

.padmed {
    padding-bottom: 120px;
}

.padbot {
    padding-bottom: 200px;
}

.rbottom {
    padding-top: 10px;
}

.ring1 {
    margin-left: 25px;
    width: 320px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

#dropArrivals {
    z-index: 1;
}

/* -------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------- */

/* ----------------------Styles of Actual Content of Page--------------- */

#content {
    width: 80%;
    margin: auto;
    /* border: 2px solid green; */
}
#toplink{
    margin-top: 0%;
}
p {
    color: rgb(145, 144, 144);
    font-size: 12px;
    text-align: center;
}

p a {
    text-decoration: underline;
    color: rgb(145, 144, 144);
    margin-top: 2%;
}

#shoes {
    text-align: center;
    color: #333;
    width: 90%;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 2%;
}
#shoes h2{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}
hr {
    height: 3px;
    background-color: rgb(187, 185, 185);
    width: 100%;
}

#para {
    /* margin-top: -1%; */
    color: #333;
    text-align: center;
    line-height: 17px;
    word-spacing: 5px;
}

#options {
    margin-top: 4%;
    display: flex;
    justify-content: space-between;
    font-weight: lighter;
    font-size: 12px;
    color: #333;
}

#search {
    font-weight: 600;
    font-size: 14px;
    color: rgb(187, 185, 185);
}

.yVideo {
    /* border: 3px solid #2694af; */
    padding: 1%;
    float: left;
    display: block;
    width: 100%;
    height: 20%;
    margin: 2% 5% 5% 0%;
}

#vi {
    height: auto;
    /* border: 1px saddlebrown solid; */
    width: 100%;
    padding: 2px;
    display: block;
}

#vi #getInsp {
    height: auto;
    width: auto;
    display: block;
    margin-bottom: 1%;
    /* border: #333 1px solid; */
}

#getInsp {
    background-color: rgb(207, 205, 205);
    text-align: center;
    color: #333;
    font-weight: bold;
    font-size: 12px;
    padding: 5px;
    width: 25%;
    height: auto;
    display: block;
}

.headtail {
    font-size: 16px;
    color: #333;
    font-weight: bolder;
}
#actualContent {
    display: flex;
    width: 100%;
    margin-top: 2%;
    justify-content: space-between;
}

#leftPanels {
    width: 25%;
    height: auto;
    /* border: 2px solid red; */
}

/* Accordion Menu */

#leftPanels #optionTwoAccordion {
    /* margin-left: 20%; */
    /* display: flex; */
    margin-top: 2%;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
    /* background: #bedfe8; */
}

.accordion {
    max-width: 800px;
}

.accordion .contentBx {
    position: relative;
    /* margin: 10px 20px; */
}

.accordion .contentBx .label {
    position: relative;
    padding: 10px;
    background: #dbdedf;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

.accordion .contentBx .label::before {
    content: '+';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 18px;
}

.accordion .contentBx .content {
    /* position: relative; */
    background: #fff;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
}

.accordion .contentBx.active .content {
    height: auto;
    /* padding: 10px; */
}

.accordion .contentBx.active .label::before {
    content: '-';
}

.contentBx ul {
    display: block;
}


/* ------------------------------------------------------------------------------ */

#rightProducts {
    width: 72%;
    /* border: 2px solid blue; */
}

#products {
    padding-left: 80px;
    padding-right: 10px;
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

#products {
    /* border: 1px solid black; */
    width: 77%;
}
