<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/24c494a6b6.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" type="image/png"
        href="https://www.yoox.com/media/yoox16/favicon/android-icon-192x192.png">
    <link rel="stylesheet" href="/styles/designArt.css">
    <link rel="stylesheet" href="/layouts/yooxfooter/styles/footer.css">
    <title>YOOX Art & Design | Design objects, art and home decor</title>

</head>

<body>
    <header>
        <div class="top1">
            <div class="topmost">
                <div class="exleft">
                    <div> <select class="country">
                            <option><u>UNITED STATES</u></option>
                            <option><u>UNITED KINGDOM</u></option>
                            <option><u>INDIA</u></option>
                            <option><u>AUSTRALIA</u></option>
                            <option><u>SPAIN</u></option>
                            <option><u>ITALY</u></option>
                            <option><u>DUBAI</u></option>
                            <option><u>...</u></option>
                        </select>
                    </div>
                    <div><u>CUSTOMER CARE</u></div>
                  
                </div>
                <div class="inside"> FREE STANDARD SHIPPING ON ORDERS OVER $100 </div>
                <div class="rightside">
                    <div><a href="/layouts/signUp.html"><i class="fa-solid fa-pencil"></i><u>Register</u></a></div>
                    <div class="login"><a href="/layouts/logIn.html"><i class="fa-solid fa-unlock"></i><u>Login</u></a></div>
                </div>
            </div>

            <div class="topmost2">
                <div class="exleft2">
                    <a href="/layouts/HOME-women.html"><div>WOMEN</div></a>
                    <a href="/layouts/menHomepage.html"><div>MEN</div></a>
                    <a href="/layouts/kidsHomepage.html"><div>KIDS</div></a>
                    <a href="/layouts/designArt.html"><div class="currentpage">DESIGN + ART</div></a>
                </div>
                <div class="inside2"><a href="/layouts/HOME-womenPage.html"> <img src="https://www.yoox.com/media/yoox16/header/yoox-logo-p.svg" alt=""></a></div>


                <div class="rightside2">
                    <div><i class="fa-solid fa-magnifying-glass"></i></div>
                    <div><i class="fa-regular fa-heart"></i></div>
                    <div><i class="fa-solid fa-bag-shopping bag"></i></div>
                </div>
            </div>
            <nav class="menumain">
                <div class="menucntr">
                    <ul class="lvl-1">
                        <li class="firstli"><a href="#">NEW ARRIVALS</a>
                            <div class="sub-menu">
                                <div class="col">
                                    <div>
                                        <h5>CATEGORIES</h5>
                                        <p> <a href="/layouts/womenDresses.html">DRESSES</a></p>
                                        <p> <a href="/layouts/womenTshirtsTops.html"> T-SHIRTS AND TOPS </a></p>
                                        <p> <a href="/layouts/menClothing.html"> MEN CLOTHING </a></p>
                                        <p> <a href="/layouts/menFootwear.html"> MEN FOOTWEAR </a></p>
                                        <p> <a href="/layouts/womenFootwear.html"> WOMEN FOOTWEAR </a></p>
                                        <P>JUMPSUITS AND OVERALLS</p>
                                        <p>JACKETS</p>
                                        <p>ACTIVEWEAR</p>
                                        <h5>VIEW ALL</h5>
                                    </div>
                                    <div>
                                        <h5>DESIGNERS</h5>
                                        <P>BALENCIAGA</P>
                                        <P>DOLCE & GABBANA</P>
                                        <P>GUCCI</P>
                                        <P>MAISON MARGIELA</P>
                                        <P>MARNI</P>
                                        <P>OFF-WHITE™</P>
                                        <P>PRADA</P>
                                        <P>VALENTINO</P>
                                        <P>VERSACE</P>
                                        <P>8 BY YOOX</P>
                                        <h5>VIEW ALL DESIGNERS</h5>
                                    </div>
                                    <div>
                                        <h5>INSPIRATION</h5>
                                        <P>THE NEW STYLE GALLERY</P>
                                        <P>GET ACTIVE</P>
                                        <P>SOFT TOUCH</P>
                                        <P>INSPIRATION</P>
                                        <P>DENIM ON DENIM</P>
                                        <P>STUNNING SILK</P>
                                        <P>WHAT TO WEAR WITH TRAINERS</P>
                                        <P>YOOXYGEN SUSTAINABLE WEAR</P>
                                        <P>HI GUYZ</P>
                                    </div>
                                    <div>
                                        <img style="margin-top: 10px; width:300px; height:350px;"
                                            src="https://www.yoox.com/images/yoox80/banners/6824_1_Wedding_WM_Second.jpg?634485886869569819">
                                        <p style="text-align:center;">CELEBRATE LOVE IN STYLE</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li><a href="#">DESIGNERS</a></li>
                        <li><a href="#">CLOTHING</a></li>
                        <li><a href="#">SHOES</a></li>
                        <li><a href="#">ACESSORIES & BAGS</a></li>
                        <li><a href="#">8 BY YOOX</a></li>
                        <li><a href="#">YOOXYGEN</a></li>
                        <li><a href="#">COLLABORATIONS</a></li>
                        <li><a href="#">BEST DEALS</a></li>

                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <!-- -----------------------Actual Content of Page------------------ -->

    <div id="content">
        <div id="first">
            <div id="firstrowleft">
                <div><img id="fimg" src="https://www.yoox.com/images/yoox80/banners/6769_2_Living_TOP1.jpg?634485886869569819" /></div>
                <div id="cardcontent">
                    <p id="unique"> DANCING DAYS </p>
                    <p id="uniquesub"> The new photoshoot by Living Corriere </p>
                </div>
            </div>
            <div id="firstrowright">
                <img id="simg" src="https://www.yoox.com/images/yoox80/banners/6769_1_MinimalDesignArt_TOP2.jpg?634485886869569819" />
                <p id="unique"> SIMPLE DESIGN </p>
                <p id="uniquesub"> Keyword: minimalism </p>
            </div>
        </div>
        
        <p> <span>"</span>Three traits for being Creative?</p>
        <p id="curiousity"> Curiosity, vision and ambition!<span>"</span></p>
        <hr />
        <h3> Nina Yashar </h3>


        <img id="second" src="https://www.yoox.com/images/yoox80/banners/6769_1_Humantouch_Middle.jpg?634485886869569819" />
        <p id="unique"> UNIQUE TOUCH </p>
        <p id="uniquesub"> Artisanal techniques and bit of magic </p>


        <div id="third">
            <div id="leftcards">
                <img id="leftone" src="https://www.yoox.com/images/yoox80/banners/6769_1_DentroUnVaso_Compo1.jpg?634485886869569819" />
                <p id="unique"> VIBRANT VASES </p>
                <p id="uniquesub"> Liven up your space </p>
                <img id="lefttwo" src="https://www.yoox.com/images/yoox80/banners/6769_2_PickedByNina_Compo2.gif?634485886869569819" />
                <p id="unique"> PICKED BY NINA X YOOX </p>
                <p id="uniquesub"> An unprecendented project of collectible design </p>
            </div>
            <div id="rightcards">
                <img id="rightone" src="https://www.yoox.com/images/yoox80/banners/6769_1_HaveASeat_Compo3.jpg?634485886869569819"/>
                <p id="unique"> PLEASE, HAVE A SEAT! </p>
                <p id="uniquesub"> Chairs, cushions and more </p>
            </div>
        </div>


        <p id="topPicks">Top Picks </p>
        <div id="toppicks">
        
            <div id="front">
                <div>
                    <img src="https://www.yoox.com/images/items/58/58053621MR_14_f.jpg?impolicy=crop&width=306&height=390"/>
                </div>
                <div>
                    <img src="https://www.yoox.com/images/items/58/58055684NC_14_f.jpg?impolicy=crop&width=306&height=390"/>
                </div>
                <div>
                    <img src="https://www.yoox.com/images/items/56/56004547ES_14_f.jpg?impolicy=crop&width=306&height=390"/>
                </div>
                <div>
                    <img src="https://www.yoox.com/images/items/58/58055671EH_14_f.jpg?impolicy=crop&width=306&height=390"/>
                </div>
                <div>
                    <img src="https://www.yoox.com/images/items/58/58056219WU_14_f.jpg?impolicy=crop&width=306&height=390"/>
                </div>
                <div>
                    <img src="https://www.yoox.com/images/items/58/58055674HK_14_f.jpg?impolicy=crop&width=306&height=390"/>
                </div>
            </div>

            <!-- <div id="scrolled">
                <div>
                    <img src="https://www.yoox.com/images/items/58/58054462FC_14_f.jpg?impolicy=crop&width=306&height=390"/>
                </div>
                <div>
                    <img src="https://www.yoox.com/images/items/58/58055675AS_14_f.jpg?impolicy=crop&width=306&height=390"/>
                </div>
                <div>
                    <img src="https://www.yoox.com/images/items/58/58055370KM_14_f.jpg?impolicy=crop&width=306&height=390"/>
                </div>
                <div>
                    <img src="https://www.yoox.com/images/items/58/58055686WJ_14_f.jpg?impolicy=crop&width=306&height=390"/>
                </div>
                <div>
                    <img src="https://www.yoox.com/images/items/58/58055030QN_14_f.jpg?impolicy=crop&width=306&height=390"/>
                </div>
                <div>
                    <img src="https://www.yoox.com/images/items/58/58054951AF_14_f.jpg?impolicy=crop&width=306&height=390"/>
                </div> -->
        </div>


        <div>
            <img id="seeall" src="https://www.yoox.com/images/yoox80/banners/6769_1_DesignArt_BOTTOM.jpg?634485886601286852#width=1348&height=320"/>
        </div>
        <div id="insidecontent">
            <p id="designallseeall">DESIGN + ART </p>
            <p id="suball"> Protagonists, stories, collaborations, projects</p>
            <a href="#"> <p id="linktoseeall">SEE ALL</p> </a>
        </div>

    </div>

    <br/> <br/>
    <div id="footer"></div>
</body>

</html>

<script src="/layouts/yooxfooter/scripts/index.js" type="module"></script>