<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/24c494a6b6.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" type="image/png"
        href="https://www.yoox.com/media/yoox16/favicon/android-icon-192x192.png">
    <title> YOOX - Register</title>
    <link rel="stylesheet" href="/styles/logIn.css">
  


</head>
<body>
    <div class="topStrip">
        <div class="topLeft">
            <div class="ul"><span class="tophead">INDIA</span> <img class="sortDown"
                    src="https://img.icons8.com/ios-glyphs/30/000000/sort-down.png" /></div>
            <div class="ul"><span class="tophead">CUSTOMER CARE</span></div>
        </div>
        <div class="topRight">
            <div class="ul"><img class="lock" src="https://img.icons8.com/ios-filled/50/000000/pencil--v1.png" /><span
                    class="topheadR"><a href="/layouts/signUp.html">REGISTER</a></span> </div>
            <div class="ul"><img class="lock" src="https://img.icons8.com/ios-glyphs/30/000000/lock--v1.png" /><span
                    class="topheadR">LOGIN</span> </div>
        </div>
    </div>
    <div class="secBox">
        <div class="secondStrip">
            <div class="secL">
                <a class="seclink focusW" href="#">WOMEN</a>
                <a class="seclink" href="#">MEN</a>
                <a class="seclink" href="#">KIDS</a>
                <a class="secslash" href="#">/</a>
                <a class="seclink" href="#">DESIGN+ART</a>
            </div>
            <div class="secM"><a href="/layouts/HOME-women.html"> <img class="yooxlogo" src="https://mobile.yoox.com/media/yoox16/header/yoox-logo-p.svg"
                alt=""> </a></div>
            <div class="secR">
                <img class="imgS" src="https://img.icons8.com/ios-filled/50/000000/search--v1.png" />
                <img class="imgh" src="https://img.icons8.com/material-outlined/24/000000/like--v1.png" />
                <img class="imgg" src="https://img.icons8.com/material-outlined/80/000000/shopping-bag--v1.png" />
            </div>
        </div>
    </div>
    <div class="hrLine"></div>
    <div class="hrLine1"></div>
    <div class="thirdBox">
        <h1 class="t1">MYOOX</h1>
        <h2 class="t2">It’s great to see you again.</h2>
        <br/>
        <hr id="hr">
        <h3 class="t3">Log in with</h3>
    </div>
    <div>
        <img id="image"
            src="https://www.famouslogos.org/logos/facebook-logo.jpg"
            alt="">
        <img id="image"
            src="https://ieeecs-media.computer.org/wp-media/2017/08/31215550/Google-logo-rectangular.jpg"
            alt="">
    </div>

    <hr id="hr">
    <br/>
    <div id="content">
        <div>or with your e-mail address</div>
    <div id="initial">
        <input id="input" type="text" placeholder="E-MAIL"> <br>
        <input id="input" type="text" placeholder="PASSWORD">
    </div>
    <div id="pos">
        <input type="checkbox" name="" id="">REMEMBER ME
    </div>
    <div id="margin">Forgot your password?</div>
    <button onclick="index()">
        Log in
    </button>
    <div style="font-size:10px">For more information, please consult the Privacy Policy</div> <br/>
    <hr id="hr"><br/>
    <div style="font-size: 15px;text-decoration: solid;">ARE YOU NEW TO YOOX? <a style="text-decoration: Solid;" href="">REGISTER NOW</a> </div>
    </div>

    <br/>
    <br/>

    <div id="wrapper" style="background-color: #f3f3f3;">
        <div id="containeer" style="background-color: #f3f3f3;">
            <div class="section" style="background-color: #f3f3f3;">
                <div class="heading" style="background-color: #f3f3f3;">NEW TO YOOX</div>
                <center>
                    <hr class="divider" style="background-color: #f3f3f3;">
                </center>
                <div class="mat">Shopping guide</div>
                <div class="mat">iPhone/iPad/Android</div>
                <div class="mat">Browse all Designers</div>
                <div class="mat">Browse all Categories</div>
            </div>
            <div class="section" style="background-color: #f3f3f3;">
                <div class="heading" style="background-color: #f3f3f3;">HELP</div>
                <center>
                    <hr class="divider" style="background-color: #f3f3f3;">
                </center>
                <div class="mat" >Shipping time & costs</div>
                <div class="mat" >Payments and web security</div>
                <div class="mat" >Product quality</div>
                <div class="mat">Track your order</div>
                <div class="mat">Returns & refunds</div>
                <div class="mat">FAQs</div>
                <div class="mat">Size Guide</div>
                
            </div>
            <div class="news" style="background-color: white;">
                <img class="mail" style="background-color: white;" src="https://img.icons8.com/material-outlined/24/000000/new-post.png" />
                <div class="heading" style="background-color: white;">YOOX NEWS</div>
                <div class="mat" style="background-color: white;">Sign up for the newsletter and discover the latest arrivals and promotions</div>
                <input class="enterEmail" type="text" placeholder="INSERT YOUR E-MAIL ADDRESS">
                <div class="gender" style="background-color: white;">
                    <div style="background-color: white;">
                        <input class="radio" style="background-color: white;" name="gen" type="radio" id="women"><label class="gen" for="women" style="background-color: white;">Woman</label>
                        <input class="radio" style="background-color: white;" name="gen" type="radio" id="men"><label for="men" class="gen" style="background-color: white;">Man</label>
                    </div>
                    <div>
                    </div>
                </div>
                <div class="consentDiv" style="background-color: white;">
                    <div style="background-color: white;">
                        <input class="check" style="background-color: white;" type="checkbox">
                    </div>
                    <div class="consent" style="background-color: white;">
                        I consent to recieve YOOX newsletter via email. For further information, please consult the <span class="underline consent">Privacy Policy</span> 
                    </div >
                </div >
                <input class="signup" type="submit" value="SIGN UP">
            </div>
            <div class="section" style="background-color: #f3f3f3;">
                <div class="heading" style="background-color: #f3f3f3;">MYOOX</div>
                <center><hr style="background-color: #f3f3f3;" class="divider"></center>
                <div class="mat">Login</div>
                <div class="mat">My Orders</div>
                <div class="mat">My Details</div>
                <div class="mat">Dream Box</div>
                <div class="mat">Premiere</div>
            </div>
            <div class="section" style="background-color: #f3f3f3;">
                <div class="heading" style="background-color: #f3f3f3;">ABOUT US</div>
                <center>
                    <hr class="divider">
                </center>
                <div class="mat">Company Info</div>
                <div class="mat">Press</div>
                <div class="mat">Affiliation</div>
                <div class="mat">Careers</div>
            </div>
        </div>
    </div>
    <div class="connect" style="background-color: #f3f3f3;">
        <div class="betconnect" style="background-color: #f3f3f3;">
            <div class="leftC" style="background-color: #f3f3f3;">
                <span class="Cwithus" style="background-color: #f3f3f3;">CONNECT WITH US</span><img class="firsticon"style="background-color: #f3f3f3;" src="https://img.icons8.com/ios-glyphs/30/000000/facebook-f.png" /><img src="https://img.icons8.com/ios-glyphs/30/000000/twitter--v1.png" /><img src="https://img.icons8.com/material-outlined/24/000000/instagram-new--v1.png" /><img src="https://img.icons8.com/material-rounded/24/000000/youtube-play.png" /><img src="https://img.icons8.com/windows/24/000000/tiktok.png" />
            </div>
            <div class="rightC" style="background-color: #f3f3f3;">
                <img style="background-color: #f3f3f3;" src="https://img.icons8.com/ios-filled/50/000000/smartphone-tablet.png" /><span class="Cwithus" style="background-color: #f3f3f3;">DOWNLOAD THE APP FOR iOS / ANDROID</span>
            </div>
        </div>
        <div class="bottom" >
            <p>POWERED BY YOOX NET-A-PORTER GROUP - COPYRIGHT © 2000-2022 YOOX NET-A-PORTER GROUP S.P.A. - ALL RIGHTS RESERVED - SIAE
            LICENCE # 401/I/526</p>
            <div class="second">
                <p class="light">LEGAL AREA <span class="slash">  /  </span> PRIVACY POLICY</p>
            </div>
        </div>
    </div>
</body>
</html>

<script src="/scripts/logIn.js"></script>