<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/24c494a6b6.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" type="image/png"
        href="https://www.yoox.com/media/yoox16/favicon/android-icon-192x192.png">
    <title> YOOX - Register</title>
    <link rel="stylesheet" href="/styles/signUp.css">
  


</head>
<body>
    <div class="topStrip">
        <div class="topLeft">
            <div class="ul"><span class="tophead">INDIA</span> <img class="sortDown"
                    src="https://img.icons8.com/ios-glyphs/30/000000/sort-down.png" /></div>
            <div class="ul"><span class="tophead">CUSTOMER CARE</span></div>
        </div>
        <div class="topRight">
            <div class="ul"><img class="lock" src="https://img.icons8.com/ios-filled/50/000000/pencil--v1.png" /><span
                    class="topheadR">REGISTER</span> </div>
            <div class="ul"><img class="lock" src="https://img.icons8.com/ios-glyphs/30/000000/lock--v1.png" /><span
                    class="topheadR"><a href="/layouts/logIn.html">LOGIN</a></span> </div>
        </div>
    </div>
    <div class="secBox">
        <div class="secondStrip">
            <div class="secL">
                <a class="seclink focusW" href="#">WOMEN</a>
                <a class="seclink" href="#">MEN</a>
                <a class="seclink" href="#">KIDS</a>
                <a class="secslash" href="#">/</a>
                <a class="seclink" href="#">DESIGN+ART</a>
            </div>
            <div class="secM"><a href="/layouts/HOME-women.html"> <img class="yooxlogo" src="https://mobile.yoox.com/media/yoox16/header/yoox-logo-p.svg"
                alt=""> </a></div>
            <div class="secR">
                <img class="imgS" src="https://img.icons8.com/ios-filled/50/000000/search--v1.png" />
                <img class="imgh" src="https://img.icons8.com/material-outlined/24/000000/like--v1.png" />
                <img class="imgg" src="https://img.icons8.com/material-outlined/80/000000/shopping-bag--v1.png" />
            </div>
        </div>
    </div>
    <div class="hrLine"></div>
    <div class="hrLine1"></div>
    <div class="thirdBox">
        <h1 class="t1">MYOOX</h1>
        <h2 class="t2">REGISTRATION</h2>
        <h3 class="t3">Take advantage of a faster checkout and enjoy promotions for registered customers only</h3>
        <h4 class="t4">Discover all the benefits</h4>
    </div>
    <div class="forthBox">
        <h2 class="t2 t21">REGISTER WITH YOUR SOCIAL MEDIA ACCOUNT</h2>
        <h3 class="t2 t22">REGISTER WITH FACEBOOK</h3>
        <img class="logo logoG" src="https://img.icons8.com/color/48/000000/google-logo.png" />
        <h3 class="t2 t23">REGISTER WITH GOOGLE</h3>
        <h3 class="t2 t24">OR WITH YOUR EMAIL</h3>
    </div>
    <form>
        <input type="text" id="first_name" placeholder="FIRST NAME*">
        <input type="text" id="first_name" placeholder="LAST NAME*">
        <input type="text" id="email" placeholder="E-MAIL*">
        <input type="text" id="password" placeholder="PASSWORD*">
        <h5 class="person">Personalise your shopping experience</h5>
        <div class="gender">
            <div>
                <input class="radio radio1" name="gen" type="radio" id="women"><label class="gen gen1" for="women">Woman</label>
                <input class="radio" name="gen" type="radio" id="men"><label for="men" class="gen">Man</label>
            </div>
        </div>
        <h5 class="person">If you are over 18 years old, celebrate your birthday with us: We have a surprise for you.</h5>
        <input type="date" id="dob" placeholder="DATE OF BIRTH">
        <h6 class="cell">CELL PHONE</h6>
        <input type="text" id="number" placeholder="" value="+91 ">
        <img class="flag"
            src="https://img.icons8.com/external-icongeek26-flat-icongeek26/64/000000/external-indian-flag-india-icongeek26-flat-icongeek26.png" />
        <img class="sortDown1" src="https://img.icons8.com/ios-glyphs/30/000000/sort-down.png" />
        <div class="italic"> 
            By entering your phone number, you agree to be contacted by SMS for marketing and promotional purposes.
        </div>
        <div class="singleLine"><em> I declare that I have read and accept the <span class="ul1"> MYOOX Terms and Conditions of Use</span></em></div>
        <div class="consentDiv">
            <div>
                <input class="check" type="checkbox">
            </div>
            <div class="consent">
                <em class="consent">
                    I agree to the use of my personal data in order to be updated on new arrivals, informed about exclusive items and
                    contacted as part of targeted marketing initiatives related to services offered by YOOX.
                    By analyzing my personal data, order history and browsing habits, YOOX can improve my shopping experience with
                    suggestions that correspond to my interests.
                    For further information, please consult the <span
                    class="underline consent">Privacy Policy</span>
                </em>
            </div>
        </div>
        <input id="submit" type="submit" value="REGISTER">
    </form>
    <div class="hrLine"></div>
    <div class="hrLine1"></div>
    <div class="bottom">
        <p>POWERED BY YOOX NET-A-PORTER GROUP - COPYRIGHT © 2000-2022 YOOX NET-A-PORTER GROUP S.P.A. - ALL RIGHTS RESERVED -
            SIAE
            LICENCE # 401/I/526</p>
        <div class="second">
            <p class="light">LEGAL AREA <span class="slash"> / </span> PRIVACY POLICY</p>
        </div>
    </div>
</body>
</html>
<script src="/scripts/signUp.js"></script>