<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script src="https://kit.fontawesome.com/03120bbf35.js" crossorigin="anonymous"></script>

<link rel="shortcut icon" type="image/png"
        href="https://www.yoox.com/media/yoox16/favicon/android-icon-192x192.png">
<link rel="stylesheet" href="/layouts/yooxfooter/styles/footer.css">
<link rel="stylesheet" href="/styles/womenTshirtsTops.css">
<title>YOOX-Women- T-shirts & Tops</title>
</head>

<body>

    <!-- -------------------------------------------header------------------------------------- -->
  <header>
    <div class="top1"> 
       <div class="topmost">
          <div class="exleft">   
           <div> <select class="country">
                   <option ><u>UNITED STATES</u></option>
                   <option ><u>UNITED KINGDOM</u></option>
                   <option ><u>INDIA</u></option>
                   <option ><u>AUSTRALIA</u></option>
                   <option ><u>SPAIN</u></option>
                   <option ><u>ITALY</u></option>
                   <option ><u>DUBAI</u></option>
                   <option ><u>...</u></option>
                    </select> 
              </div>
             <div><u>CUSTOMER CARE</u></div>
            
             </div>
              <div class="inside"> FREE STANDARD SHIPPING ON ORDERS OVER $100  </div>
             <div class="rightside">
                <div><a href="/layouts/signUp.html"><i class="fa-solid fa-pencil"></i><u>Register</u></a></div>
                <div class="login"><a href="/layouts/logIn.html"><i class="fa-solid fa-unlock"></i><u>Login</u></a>
                </div>
            </div>


       </div>
     
       <div class="topmost2">
        <div class="exleft2">
            <a href="/layouts/HOME-women.html">
                <div class="currentpage">WOMEN</div>
            </a>
            <a href="/layouts/menHomepage.html">
                <div>MEN</div>
            </a>
            <a href="/layouts/kidsHomepage.html">
                <div>KIDS</div>
            </a>
            <a href="/layouts/designArt.html">
                <div>DESIGN + ART</div>
            </a>
        </div>
        <div class="inside2"><a href="/layouts/HOME-womenPage.html"> <img
                    src="https://www.yoox.com/media/yoox16/header/yoox-logo-p.svg" alt=""></a></div>
           
           
           <div class="rightside2">
            <div><i class="fa-solid fa-magnifying-glass"></i></div>
             <div><i class="fa-regular fa-heart"></i></div>
             <div><i class="fa-solid fa-bag-shopping bag"></i></div>
            
            
          </div>
        </div>
        <nav class="menumain">
        <div class="menucntr">
            <ul class="lvl-1">
                <li class="firstli"><a href="#">NEW ARRIVALS</a>
                    <div class="sub-menu">
                        <div class="col">
                            <div>
                               <h5>CATEGORIES</h5>
                               <p> <a href="/layouts/womenDresses.html">DRESSES</a></p>
                               <p> <a href="/layouts/womenTshirtsTops.html"> T-SHIRTS AND TOPS </a></p>
                               <p> <a href="/layouts/menClothing.html"> MEN CLOTHING </a></p>
                               <p> <a href="/layouts/menFootwear.html"> MEN FOOTWEAR </a></p>
                               <p> <a href="/layouts/womenFootwear.html"> WOMEN FOOTWEAR </a></p>
                               <P>JUMPSUITS AND OVERALLS</p>
                               <p>JACKETS</p>
                               <p>ACTIVEWEAR</p>
                               <h5>VIEW ALL</h5>
                            </div>
                            <div>
                                <h5>DESIGNERS</h5>
                                <P>BALENCIAGA</P>
                                <P>DOLCE & GABBANA</P>
                                <P>GUCCI</P>
                                <P>MAISON MARGIELA</P>
                                <P>MARNI</P>
                                <P>OFF-WHITE™</P>
                                <P>PRADA</P>
                                <P>VALENTINO</P>
                                <P>VERSACE</P>
                                <P>8 BY YOOX</P>
                                <h5>VIEW ALL DESIGNERS</h5>
                            </div>
                            <div>
                            <h5>INSPIRATION</h5>
                            <P>THE NEW STYLE GALLERY</P>
                            <P>GET ACTIVE</P>
                            <P>SOFT TOUCH</P>
                            <P>INSPIRATION</P>
                            <P>DENIM ON DENIM</P>
                            <P>STUNNING SILK</P>
                            <P>WHAT TO WEAR WITH TRAINERS</P>
                            <P>YOOXYGEN SUSTAINABLE WEAR</P>
                            <P>HI GUYZ</P>
                            </div>
                            <div>
                            <img style="margin-top: 10px; width:300px; height:350px;"src="https://www.yoox.com/images/yoox80/banners/6824_1_Wedding_WM_Second.jpg?634485886869569819">
                            <p style="text-align:center;">CELEBRATE LOVE IN STYLE</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li ><a href="#">DESIGNERS</a></li>
                <li ><a href="#" >CLOTHING</a></li>
                <li><a href="#">SHOES</a></li>
                <li><a href="#">ACESSORIES & BAGS</a></li>
                <li><a href="#">8 BY YOOX</a></li>
                <li><a href="#">YOOXYGEN</a></li>
                <li><a href="#">COLLABORATIONS</a></li>
                <li><a href="#">BEST DEALS</a></li>
              
            </ul>
        </div>
    </nav>

    <br/>
    <div class="option"> <a href="/layouts/women.html">HOME / WOMEN / CLOTHING </a> / T-Shirts and Tops  </div>
    <div class="description">  <h2> T-Shirts and Tops  </h2> 
        <p>For women's tees, this go-to piece comes in thousands of variations and colors for a contemporary style. Cotton T-shirts, solid colored or printed, are perfect when paired with flared skirts for a fresh and glamorous look. Among women's tops you can't help but love the iconic polo: half T-shirt and half button down, it's a cult piece to be worn with pants or a denim skirt for a casual aesthetic. For the evening, short or long shirts in silk go well with skirts and decorated sweatshirts.</p>

    </div>

    <div class="topmost3">
        <div class="exleft3">  SAVE SEARCH</div>
            <div class="inside3"> 25000+ items </div>
    
           <div class="rightside3">
               <div> <select class="Sort1">
                <option><u>SORT BY</u></option>
                <option ><u>LATEST</u></option>
                <option ><u>HIGHEST PRICE</u></option>
                <option ><u>LOWEST PRICE</u></option>
                </select> 
           </div>
          </div>
    
    
     </div>
   
        
        

   
</header>



<div id="Box">
  <!-- ----------------------------SideBar--------------------------------------- -->
    <div id="leftPanels">

        <div id="vi">
            <video playsinline="" muted="" autoplay="" loop="" class="yVideo" src="https://secure.social.yoox.it/yspecial/8BYYOOX/SS22/video_coreo.mp4?v=001" poster=""></video>
        
            <div id="getInsp">
                <p class="headtail"> ESSENTIAL POP </p>
                <P> The new SS22 collection from 8 by YOOX</P>
                <p class="headtail"> GET INSPIRED </p>
            </div>
        </div>

    
       <div id="optionTwoAccordion">
         <div class="accordion">
          <div class="contentBx">
            <div class="label">CATEGORY </div>
            <div class="content">
                <p class="top"><i class="fa-solid fa-caret-right"></i> Activewear </p>
                <p class="top"><i class="fa-solid fa-caret-right"></i> Coats & Jackets </p>
                <p class="top"><i class="fa-solid fa-caret-right"></i> Dresses </p>
                <p class="top"><i class="fa-solid fa-caret-right"></i> Jeans and Deniums </p>
                <p class="top"><i class="fa-solid fa-caret-right"></i> Jumpsuits </p>
                <p class="top"><i class="fa-solid fa-caret-right"></i> Partywear </p>
                <p class="top"><i class="fa-solid fa-caret-right"></i> Skirts </p>
                <p class="top"><i class="fa-solid fa-caret-right"></i> Loungewear </p>
                <p class="top"><i class="fa-solid fa-caret-right"></i> Tops & t-shirts </p>
                <p class="top"><i class="fa-solid fa-caret-right"></i> Sportswear </p>
                <p class="top"><i class="fa-solid fa-caret-right"></i> Shrugs </p>
                <p class="top"><i class="fa-solid fa-caret-right"></i> Officewear </p>
            </div>
        </div>
        <div class="contentBx">
            <div class="label"> TOPS </div>
            <div class="content">
                <ul>
                    <div class="arrangeTop">
                        <div>
                            <input class="check" type="checkbox">
                            <option style="display: inline;" class="top"><a href="#">Crop Tops</a></option><br>
                        </div>
                    </div>
                    <div class="arrangeBrand">
                        <div>
                            <input class="check" type="checkbox">
                            <option style="display: inline;" class="top"><a href="#">Tank Tops</a></option><br>
                        </div>
                    </div>
                    <div class="arrangeBrand">
                        <div>
                            <input class="check" type="checkbox">
                            <option style="display: inline;" class="top"><a href="#">Lace Tops</a></option><br>
                        </div>
                    </div>
                    <div class="arrangeBrand">
                        <div>
                            <input class="check" type="checkbox">
                            <option style="display: inline;" class="top"><a href="#">Halter Tops</a></option><br>
                        </div>
                    </div>
                    <div class="arrangeBrand">
                        <div>
                            <input onclick="FilterOne()" class="check" type="checkbox">
                            <option style="display: inline;" id="one" onclick="FilterOne()" class="top"
                                value="one/Zero"><a href="#">Peplum Tops</a></option><br>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    
        <div class="contentBx">
            <div class="label">SKIRTS </div>
            <div class="content">
                <ul>
                    <div class="arrangeTop">
                        <div>
                            <input onclick="FilterBlueSaint()" class="check" type="checkbox">
                            <option style="display: inline;" id="BlueSaint" onclick="FilterBlueSaint()"
                                class="top" value="BLUE SAINT"><a href="#">Mini</a></option><br>
                        </div>
                    </div>
                    <div class="arrangeBrand">
                        <div>
                            <input onclick="Filterkoovs()" class="check" type="checkbox">
                            <option style="display: inline;" id="koovs" onclick="Filterkoovs()" class="top"
                                value="KOOVS"><a href="#">Maxi</a></option><br>
                        </div>
                    </div>
                    <div class="arrangeBrand">
                        <div>
                            <input onclick="FilterFugazee()" class="check" type="checkbox">
                            <option style="display: inline;" id="fugazee" onclick="FilterFugazee()"
                                class="top" value="FUGAZEE"><a href="#">Midi</a></option><br>
                        </div>
                    </div>
                </ul>
            </div>
        </div><div class="contentBx">
            <div class="label"> MATERIALS </div>
            <div class="content">
                <ul>
                    <div class="arrangeTop">
                        <div>
                            <input onclick="FilterBlueSaint()" class="check" type="checkbox">
                            <option style="display: inline;" id="BlueSaint" onclick="FilterBlueSaint()"
                                class="top" value="BLUE SAINT"><a href="#">Cashmere</a></option><br>
                        </div>
                    </div>
                    <div class="arrangeBrand">
                        <div>
                            <input onclick="Filterkoovs()" class="check" type="checkbox">
                            <option style="display: inline;" id="koovs" onclick="Filterkoovs()" class="top"
                                value="KOOVS"><a href="#">Cotton</a></option><br>
                        </div>
                    </div>
                    <div class="arrangeBrand">
                        <div>
                            <input onclick="FilterFugazee()" class="check" type="checkbox">
                            <option style="display: inline;" id="fugazee" onclick="FilterFugazee()"
                                class="top" value="FUGAZEE"><a href="#">Leather</a></option><br>
                        </div>
                    </div>
                    <div class="arrangeBrand">
                        <div>
                            <input onclick="FilterOne()" class="check" type="checkbox">
                            <option style="display: inline;" id="one" onclick="FilterOne()" class="top"
                                value="one/Zero"><a href="#">Linen</a></option><br>
                        </div>
                    </div>
                    <div class="arrangeBrand">
                        <div>
                            <input onclick="FilterOne()" class="check" type="checkbox">
                            <option style="display: inline;" id="one" onclick="FilterOne()" class="top"
                                value="one/Zero"><a href="#">Organic Materials</a></option><br>
                        </div>
                    </div>
                    <div class="arrangeBrand">
                        <div>
                            <input onclick="FilterOne()" class="check" type="checkbox">
                            <option style="display: inline;" id="one" onclick="FilterOne()" class="top"
                                value="one/Zero"><a href="#">Recycled Materials</a></option><br>
                        </div>
                    </div>
                    <div class="arrangeBrand">
                        <div>
                            <input onclick="FilterOne()" class="check" type="checkbox">
                            <option style="display: inline;" id="one" onclick="FilterOne()" class="top"
                                value="one/Zero"><a href="#">Silk</a></option><br>
                        </div>
                    </div>
                    <div class="arrangeBrand">
                        <div>
                            <input onclick="FilterOne()" class="check" type="checkbox">
                            <option style="display: inline;" id="one" onclick="FilterOne()" class="top"
                                value="one/Zero"><a href="#">Wool</a></option><br>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    
        <div class="contentBx">
            <div class="label"> PRINT </div>
            <div class="content">
                <ul>
                    <div class="arrangeTop">
                        <div>
                            <input onclick="FilterBlueSaint()" class="check" type="checkbox">
                            <option style="display: inline;" id="BlueSaint" onclick="FilterBlueSaint()"
                                class="top" value="BLUE SAINT"><a href="#">Animal print</a></option><br>
                        </div>
                    </div>
                    <div class="arrangeBrand">
                        <div>
                            <input onclick="Filterkoovs()" class="check" type="checkbox">
                            <option style="display: inline;" id="koovs" onclick="Filterkoovs()" class="top"
                                value="KOOVS"><a href="#">Camouflage</a></option><br>
                        </div>
                    </div>
                    <div class="arrangeBrand">
                        <div>
                            <input onclick="FilterFugazee()" class="check" type="checkbox">
                            <option style="display: inline;" id="fugazee" onclick="FilterFugazee()"
                                class="top" value="FUGAZEE"><a href="#">Checks</a></option><br>
                        </div>
                    </div>
                    <div class="arrangeBrand">
                        <div>
                            <input onclick="FilterOne()" class="check" type="checkbox">
                            <option style="display: inline;" id="one" onclick="FilterOne()" class="top"
                                value="one/Zero"><a href="#">Floral</a></option><br>
                        </div>
                    </div>
                    <div class="arrangeBrand">
                        <div>
                            <input onclick="FilterOne()" class="check" type="checkbox">
                            <option style="display: inline;" id="one" onclick="FilterOne()" class="top"
                                value="one/Zero"><a href="#">One color</a></option><br>
                        </div>
                    </div>
                    <div class="arrangeBrand">
                        <div>
                            <input onclick="FilterOne()" class="check" type="checkbox">
                            <option style="display: inline;" id="one" onclick="FilterOne()" class="top"
                                value="one/Zero"><a href="#">Other pattern</a></option><br>
                        </div>
                    </div>
                    <div class="arrangeBrand">
                        <div>
                            <input onclick="FilterOne()" class="check" type="checkbox">
                            <option style="display: inline;" id="one" onclick="FilterOne()" class="top"
                                value="one/Zero"><a href="#">Polka dot</a></option><br>
                        </div>
                    </div>
                    <div class="arrangeBrand">
                        <div>
                            <input onclick="FilterOne()" class="check" type="checkbox">
                            <option style="display: inline;" id="one" onclick="FilterOne()" class="top"
                                value="one/Zero"><a href="#">Stripes</a></option><br>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
        <div class="contentBx">
            <div class="label">SIMILAR SEARCHES </div>
            <div class="content">
                <ul>
                    <li class="top"><a href="#">Feminine summer dress</a></li>
                    <li><a href="#">Evening Gowns</a></li>
                    <li><a href="#">Black dresses</a></li>
                    <li><a href="#">Vintage apparel</a></li>
                    <li><a href="#">80's Looks</a></li>
                    <li><a href="#">Jewel buttons</a></li>
                    <li><a href="#">Plum tones</a></li>
                    <li><a href="#">Velvet skirts</a></li>
                    <li><a href="#">Georgette dresses</a></li>
                    <li><a href="#">Grunge style</a></li>
                    <li><a href="#">Pale pink dresses</a></li>
                    <li><a href="#">red dresses</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="vi">
   <img src="https://www.yoox.com/images/yoox80/banners/6939_2_teleyoox_DM_ROW.png?634485886601286852"/>
</div>
</div>
<!-- ----------MainContent------------- -->

<div id="container">
</div>
</div>
<!-- 
<div class="bottom">
  <p>Load More</p>
     </div> -->

     <!-- -------------------------------Footer------------------------------ -->
     <br/>
     <br/>
     
     
     
     <div id="wrapper" style="background-color: #f3f3f3;">
         <div id="containeer" style="background-color: #f3f3f3;">
             <div class="section" style="background-color: #f3f3f3;">
                 <div class="heading" style="background-color: #f3f3f3;">NEW TO YOOX</div>
                 <center>
                     <hr class="divider" style="background-color: #f3f3f3;">
                 </center>
                 <div class="mat">Shopping guide</div>
                 <div class="mat">iPhone/iPad/Android</div>
                 <div class="mat">Browse all Designers</div>
                 <div class="mat">Browse all Categories</div>
             </div>
             <div class="section" style="background-color: #f3f3f3;">
                 <div class="heading" style="background-color: #f3f3f3;">HELP</div>
                 <center>
                     <hr class="divider" style="background-color: #f3f3f3;">
                 </center>
                 <div class="mat" >Shipping time & costs</div>
                 <div class="mat" >Payments and web security</div>
                 <div class="mat" >Product quality</div>
                 <div class="mat">Track your order</div>
                 <div class="mat">Returns & refunds</div>
                 <div class="mat">FAQs</div>
                 <div class="mat">Size Guide</div>
                 
             </div>
             <div class="news" style="background-color: white;">
                 <img class="mail" style="background-color: white;" src="https://img.icons8.com/material-outlined/24/000000/new-post.png" />
                 <div class="heading" style="background-color: white;">YOOX NEWS</div>
                 <div class="mat" style="background-color: white;">Sign up for the newsletter and discover the latest arrivals and promotions</div>
                 <input class="enterEmail" type="text" placeholder="INSERT YOUR E-MAIL ADDRESS">
                 <div class="gender" style="background-color: white;">
                     <div style="background-color: white;">
                         <input class="radio" style="background-color: white;" name="gen" type="radio" id="women"><label class="gen" for="women" style="background-color: white;">Woman</label>
                         <input class="radio" style="background-color: white;" name="gen" type="radio" id="men"><label for="men" class="gen" style="background-color: white;">Man</label>
                     </div>
                     <div>
                     </div>
                 </div>
                 <div class="consentDiv" style="background-color: white;">
                     <div style="background-color: white;">
                         <input class="check" style="background-color: white;" type="checkbox">
                     </div>
                     <div class="consent" style="background-color: white;">
                         I consent to recieve YOOX newsletter via email. For further information, please consult the <span class="underline consent">Privacy Policy</span> 
                     </div >
                 </div >
                 <input class="signup" type="submit" value="SIGN UP">
             </div>
             <div class="section" style="background-color: #f3f3f3;">
                 <div class="heading" style="background-color: #f3f3f3;">MYOOX</div>
                 <center><hr style="background-color: #f3f3f3;" class="divider"></center>
                 <div class="mat">Login</div>
                 <div class="mat">My Orders</div>
                 <div class="mat">My Details</div>
                 <div class="mat">Dream Box</div>
                 <div class="mat">Premiere</div>
             </div>
             <div class="section" style="background-color: #f3f3f3;">
                 <div class="heading" style="background-color: #f3f3f3;">ABOUT US</div>
                 <center>
                     <hr class="divider">
                 </center>
                 <div class="mat">Company Info</div>
                 <div class="mat">Press</div>
                 <div class="mat">Affiliation</div>
                 <div class="mat">Careers</div>
             </div>
         </div>
     </div>
     <div class="connect" style="background-color: #f3f3f3;">
         <div class="betconnect" style="background-color: #f3f3f3;">
             <div class="leftC" style="background-color: #f3f3f3;">
                 <span class="Cwithus" style="background-color: #f3f3f3;">CONNECT WITH US</span><img class="firsticon"style="background-color: #f3f3f3;" src="https://img.icons8.com/ios-glyphs/30/000000/facebook-f.png" /><img src="https://img.icons8.com/ios-glyphs/30/000000/twitter--v1.png" /><img src="https://img.icons8.com/material-outlined/24/000000/instagram-new--v1.png" /><img src="https://img.icons8.com/material-rounded/24/000000/youtube-play.png" /><img src="https://img.icons8.com/windows/24/000000/tiktok.png" />
             </div>
             <div class="rightC" style="background-color: #f3f3f3;">
                 <img style="background-color: #f3f3f3;" src="https://img.icons8.com/ios-filled/50/000000/smartphone-tablet.png" /><span class="Cwithus" style="background-color: #f3f3f3;">DOWNLOAD THE APP FOR iOS / ANDROID</span>
             </div>
         </div>
         <div class="bottom" >
             <p>POWERED BY YOOX NET-A-PORTER GROUP - COPYRIGHT © 2000-2022 YOOX NET-A-PORTER GROUP S.P.A. - ALL RIGHTS RESERVED - SIAE
             LICENCE # 401/I/526</p>
             <div class="second">
                 <p class="light">LEGAL AREA <span class="slash">  /  </span> PRIVACY POLICY</p>
             </div>
         </div>
     </div>
</body>

</html>


<script src="/scripts/womenTshirtsTops.js"> </script>

<script src="/layouts/yooxfooter/scripts/index.js" type="module"></script>