<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/designArt.css">
    <link rel="shortcut icon" type="image/png"
        href="https://www.yoox.com/media/yoox16/favicon/android-icon-192x192.png">
    <title>YOOX Art & Design | Design objects, art and home decor</title>
</head>

<body>
    <nav id="navigation">
        <ul id="sections" type="none">
            <li> DESIGN </li>
            <li> ART </li>
            <li> COLLABORATIONS </li>
        </ul>
    </nav>

    <div id="content">
        <div id="first">
            <div id="firstrowleft">
                <div><img id="fimg" src="https://www.yoox.com/images/yoox80/banners/6769_2_Living_TOP1.jpg?634485886869569819" /></div>
                <div id="cardcontent">
                    <p id="unique"> DANCING DAYS </p>
                    <p id="uniquesub"> The new photoshoot by Living Corriere </p>
                </div>
            </div>
            <div id="firstrowright">
                <img id="simg" src="https://www.yoox.com/images/yoox80/banners/6769_1_MinimalDesignArt_TOP2.jpg?634485886869569819" />
                <p id="unique"> SIMPLE DESIGN </p>
                <p id="uniquesub"> Keyword: minimalism </p>
            </div>
        </div>


        <p> <span>"</span>Three traits for being Creative?</p>
        <p> Curiosity, vision and ambition!<span>"</span></p>
        <hr />
        <h3> Nina Yashar </h3>


        <img id="second" src="https://www.yoox.com/images/yoox80/banners/6769_1_Humantouch_Middle.jpg?634485886869569819" />
        <p id="unique"> UNIQUE TOUCH </p>
        <p id="uniquesub"> Artisanal techniques and bit of magic </p>


        <div id="third">
            <div id="leftcards">
                <img id="leftone" src="https://www.yoox.com/images/yoox80/banners/6769_1_DentroUnVaso_Compo1.jpg?634485886869569819" />
                <p id="unique"> VIBRANT VASES </p>
                <p id="uniquesub"> Liven up your space </p>
                <img id="lefttwo" src="https://www.yoox.com/images/yoox80/banners/6769_2_PickedByNina_Compo2.gif?634485886869569819" />
                <p id="unique"> PICKED BY NINA X YOOX </p>
                <p id="uniquesub"> An unprecendented project of collectible design </p>
            </div>
            <div id="rightcards">
                <img id="rightone" src="https://www.yoox.com/images/yoox80/banners/6769_1_HaveASeat_Compo3.jpg?634485886869569819"/>
                <p id="unique"> PLEASE, HAVE A SEAT! </p>
                <p id="uniquesub"> Chairs, cushions and more </p>
            </div>
        </div>

        <h4>Top Picks </h4>
        <div id="toppicks">
            
            <div id="front">
                <div>
                    <img src="https://www.yoox.com/images/items/58/58053621MR_14_f.jpg?impolicy=crop&width=306&height=390"/>
                </div>
                <div>
                    <img src="https://www.yoox.com/images/items/58/58055684NC_14_f.jpg?impolicy=crop&width=306&height=390"/>
                </div>
                <div>
                    <img src="https://www.yoox.com/images/items/56/56004547ES_14_f.jpg?impolicy=crop&width=306&height=390"/>
                </div>
                <div>
                    <img src="https://www.yoox.com/images/items/58/58055671EH_14_f.jpg?impolicy=crop&width=306&height=390"/>
                </div>
                <div>
                    <img src="https://www.yoox.com/images/items/58/58056219WU_14_f.jpg?impolicy=crop&width=306&height=390"/>
                </div>
                <div>
                    <img src="https://www.yoox.com/images/items/58/58055674HK_14_f.jpg?impolicy=crop&width=306&height=390"/>
                </div>
            </div>

            <!-- <div id="scrolled">
                <div>
                    <img src="https://www.yoox.com/images/items/58/58054462FC_14_f.jpg?impolicy=crop&width=306&height=390"/>
                </div>
                <div>
                    <img src="https://www.yoox.com/images/items/58/58055675AS_14_f.jpg?impolicy=crop&width=306&height=390"/>
                </div>
                <div>
                    <img src="https://www.yoox.com/images/items/58/58055370KM_14_f.jpg?impolicy=crop&width=306&height=390"/>
                </div>
                <div>
                    <img src="https://www.yoox.com/images/items/58/58055686WJ_14_f.jpg?impolicy=crop&width=306&height=390"/>
                </div>
                <div>
                    <img src="https://www.yoox.com/images/items/58/58055030QN_14_f.jpg?impolicy=crop&width=306&height=390"/>
                </div>
                <div>
                    <img src="https://www.yoox.com/images/items/58/58054951AF_14_f.jpg?impolicy=crop&width=306&height=390"/>
                </div>
            </div> -->
        </div>

        <div>
            <img id="seeall" src="https://www.yoox.com/images/yoox80/banners/6769_1_DesignArt_BOTTOM.jpg?634485886601286852#width=1348&height=320"/>
        </div>
        <div id="insidecontent">
            <p id="designallseeall">DESIGN + ART </p>
            <p id="suball"> Protagonists, stories, collaborations, projects</p>
            <a href="#"> <p id="linktoseeall">SEE ALL</p> </a>
        </div>


    </div>


</body>

</html>