/* Top header styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 11PX;
    font-weight: 600;
    padding: 0;
    line-height: 36px;
    color: #323232;
    font-family: Montserrat;
}

.currentpage{
    border-bottom: 3px solid yellow;
}

.topmost {
    height: 35px;
    width: 100%;
    border-bottom: 1px solid rgb(208, 207, 207);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    height: 36px;
    background: #fff;
    top: 0;
    z-index: 99999;
    padding-left: 100px;
    padding-right: 100px;
}

.topmost2 {
    height: 55px;
    width: 100%;
    margin-top: 36px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background: #fff;
    top: 0;
    z-index: 99999;
    padding-left: 100px;
    padding-right: 100px;
}

.exleft {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    cursor: pointer;
    /* margin-left: 20px; */
    /* padding: 0px 30px 0px 30px; */
}


.exleft2 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    cursor: pointer;
    /* margin-left: 20px; 
         padding: 0px 30px 0px 30px;  */
}

.exleft2 div {
    font-weight: bold;
}

.exleft2 a {
    text-decoration: none;
}

.exleft2 :hover {
    border-bottom: 4px solid yellow;
}

.exright {
    margin-right: 20px;
    cursor: pointer;
}

.inside {
    height: 30px;
    width: 300px;
    display: block;
    margin-bottom: 5px;
    cursor: pointer;
    /* align-items: center; */
    /* justify-content: space-around; */
    /* border-right: 1px solid rgb(41, 38, 38); */

}

.inside2 {
    height: 10px;
    width: 300px;
    display: block;
    align-items: center;
    margin-bottom: 15px;
    margin-top: -12px;
    cursor: pointer;

}

.inside2 img {
    height: 35px;
    width: 100%;

}

.rightside {
    text-align: center;
    justify-content: space-around;
    display: flex;
    width: 150px;
    height: 30px;
    margin-bottom: 20px;
    cursor: pointer;
}

.rightside2 {
    text-align: center;
    justify-content: space-around;
    display: flex;
    width: 150px;
    height: 30px;
    cursor: pointer;
}

.rightside div {

    height: 16px;
    padding-right: 5px;
    text-align: center;
    margin: auto;
    word-spacing: 10px;
}

.rightside div a {
    text-decoration: none;
    color: black;
    display: block;

    word-spacing: 10px;
}

.rightside div:last-child {
    border: none;
    /* word-spacing: 10px; */
}


/* -------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------- */

/* Black Strip menu styles */
#header {
    width: 100vw;
    height: 38px;
    background-color: #333333;
    margin-top: 91px;
    z-index: 3;
    position: fixed;
}

#header :hover{
    cursor: pointer;
    color: rgb(156, 146, 146);;
}

#strip {
    width: 87%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.options {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 11px;
    margin: auto;
}

.NewArrivals {
    width: 100%;
    background-color: white;
}

.dropdown {
    display: flex;
    width: 68%;
    /* border: 1px solid black; */
    margin: auto;
    height: auto;
    box-sizing: border-box;
}

.dropleft {
    /* border: 1px solid black; */
    padding-left: 23px;
    padding-right: 25px;
    padding-top: 15px;
    background-color: #f3f3f3;
    height: auto;
    margin-top: 12%;
    cursor: pointer;
}

.dropleft :hover{
    color: #cec9c9;
}

.loption {
    font-size: 11px;
    margin: 10px;
    margin-left: 0px;
    margin-top: 14px;
    width: 135px;
    margin-bottom: 0px;
    color: #333333;
}

.dark {
    font-size: 11px;
    font-weight: 900;
    border-bottom: 1px solid #d2d0d0;
    padding-bottom: 20px;
}

.dropright {
    display: flex;
    /* border: 1px solid black; */
    margin-left: 27px;
    margin-top: 14%;
}

/* .imgbox {
    border: 1px solid black;
    }  */
.imgbox>img {
    width: 183.5px;
    height: 233.3px;
    margin-bottom: 5px;
}

.name,
.price {
    font-size: 11px;
    font-weight: 900;
    padding-bottom: 10px;
    text-align: center;
    margin: 0%;
    padding: 0%;
}

.sd {
    display: flex;
    margin: auto;
    justify-content: space-around;
    width: 70%;
    /* margin-left: 20px; */
    /* border: 1px solid rgb(179, 176, 176); */
}

.brand,
.discount,
.size {
    font-size: 11px;
    text-align: center;
}

.strikedoff {
    text-decoration-line: line-through;
    font-size: 11px;
    color: #a09c9c;
    text-align: center;
}

/* Design */
.cat {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.designfooter {
    border-top: 1px solid #d2d0d0;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 60px;
    font-size: 11px;
    font-weight: 900;
}

.Designdropleft {
    /* border: 1px solid black; */
    width: 35%;
    padding-left: 23px;
    padding-right: 25px;
    padding-top: 15px;
    background-color: #f3f3f3;
    height: auto;
    margin-top: 11%;
}

.headDesigners {
    padding-top: 20px;
    font-size: 14px;
    font-weight: 900;
}

.ring {
    margin-left: 25px;
    width: 169px;
}

/* -------------------------------clothing------------------------- */
.bold {
    font-weight: 900;
}

.dropmiddle {
    padding-left: 23px;
    padding-right: 25px;
    padding-top: 15px;
    height: auto;
    margin-top: 11%;
}

.clothingimg {
    width: 100%;
    height: auto;
}

.pad {
    padding-bottom: 50px;
}

.padleft {
    padding-left: 20px;
}

.padbottom {
    padding-bottom: 250px;
}

.padmed {
    padding-bottom: 120px;
}

.padbot {
    padding-bottom: 200px;
}

.rbottom {
    padding-top: 10px;
}

.ring1 {
    margin-left: 25px;
    width: 320px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

#dropArrivals {
    z-index: 1;
}

/* -------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------- */


/* Main content styles */

#content{
    margin: auto;
    margin-top: 0%;
    /* border: 1px solid red; */
    height: auto;
    background-color: #f3f3f3;
}
/*images in full width of screen- topmost and last*/
.fullwidth{
    width: 100%;
    height: auto;
    margin-top: 7%;
}

#unique{
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #333;
}
#uniquesub{
    margin-top: 10px;
    font-size: 14px;
    font-weight: 300;
    font-family: Montserrat;
    text-align: center;
}
#firstcardcontent p{
    text-align: left;
}

#firstcardcontent{
    background-color: white;
    border: 1px solid white;
    color: #333;
    width: 35%;
    height: auto;
    padding: 1.5%;
    position: absolute;
    z-index: 2;
    margin-top: -15%;
    margin-left: 1%;
}

#firstcardcontent a{
    font-size: 12px;
    text-decoration: underline;
}

#shopinspire{
    width: 50%;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

#secondrow{
    margin-top: 15%;
    width: 75%;
    /* border: 1px solid red; */
    margin-left: 10%;
    display: flex;
    gap: 21%;
}


#designers{
    background-color: white;
    width: 30%;
    height: 550px;
    padding: 5%;
    margin-top: -5%;
    margin-left: -90%;
    padding-right: 7%;
    text-align: center;
}



#flex{
    display: flex;
    gap: 150px;
    margin-top: 150px;
}

#newer{
    /* border: 1px solid; */
    width: 500px;
    height: auto;
    text-align: center;
    /* margin-right: 250px; */
}
#new{
    font-size: 28px;
    margin-bottom: 23px;
    margin-top: 250px;
    margin-left: 50px;
    width: 300px;
    /* border: 1px solid; */
 }
 #container{
     display: flex;
     gap: 20px;
     /* overflow:scroll; */
     overflow-x: scroll;
    
     /* scroll-behavior: auto; */
 }
 #shop{
    padding-top: 10px;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 20px;
    font-size: 15px;
    text-decoration: solid underline;
    color: black;
    font-weight: 600;
    background-color: #f3f3f3;
    font-family: Playfair Display,sans-serif;
}






#names{
    display: inline-block;
    padding: 4%;
}
#names li{
   font-weight: bold;
   /* line-height: 70px; */
}


.viewall{
    font-size: 12px;
    font-weight: bolder;
    text-decoration: underline;
    color: #333;
    text-align: center;
}

.viewall:hover{
    color: rgb(179, 176, 176);
    cursor: pointer;
}


#headings{
    margin-top: 10%;
    height: 140px;
    text-align: center;
}
#newarrival{
    font-size: 30px;
    color: #333;
}


#threecards{
    /* border: 1px solid teal; */
    margin-top: 25%;
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    width: 70%;
    margin: auto;
    gap: 20px;
    text-align: center;   
}


#details{
    background-color: white;
    padding-top: 3%;
    padding-bottom: 2%;
    margin-top: -5%;
}

#itemname{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}
#categ{
    font-size: 14px;
    font-weight: 50px;
    color: #333;
}
#price{
    font-size: 16px;
    font-weight: bold;
}


#sectionfour{
    background-color: white;
    /* border: 1px solid blue; */
    width: 100%;
    height: 120%;
    display: flex;
   gap: 20px;
    margin-top: 8%;
    padding: 7% 0%;
}
#one img{
    /* border: 1px solid red; */
    width: 100%;
    margin-top: 10%;
    height: 75%;
}


#peopledance{
    margin-top: 15%;
    width: 75%;
    /* border: 1px solid red; */
    margin-left: 10%;
    margin-bottom: 8%;
}

#vertical{
    background-color: white;
    color: #333;
    font-size: 10px;
    height: 500px;
    width: 20%;
    padding-left: 1%;
    position: absolute;
    z-index: 2;
    margin-top: -40%;
    margin-left: 60%;
}
#vertical img{
    width: 85%;
    height: 70%;
    padding-left: 1%;
}
#vertical p{
    margin-top: -5%;
}
#strike{
    text-decoration: line-through;
    color: rgb(180, 180, 180);
    text-align: center;
}
#onecard{
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
#category{
    text-align: center;
}

#lastcardcontent{
    background-color: white;
    color: #333;
    width: auto;
    height: auto;
    padding: 0% 2%;
    position: absolute;
    z-index: 2;
    margin-left: 2%;
    margin-top: 33%;
}
#lastcardcontent p{
    text-align: left;
}
#lastcardcontent a{
    font-size: 12px;
    text-decoration: underline;
}
#lastcardcontentright{
    background-color: white;
    border: 1px solid white;
    color: #333;
    width: 27%;
    height: auto;
    padding: 0% 2%;
    position: absolute;
    z-index: 2;
    margin-top: 33%;
    margin-left: 70%;
    /* border: 1px solid black; */
}
#lastcardcontentright p{
    text-align: justify;
    /* border: 1px solid blue; */
}
#lastcardcontentright a{
    font-size: 11px;
    width: 100%;
    text-decoration: underline;
    /* border: 1px solid red; */
}

#last{
    height: auto;
    display: flex;
}
#last img{
    width: 50%;
}
